<section class="content">
  <%= title(t('pool') + ' : ' + @pool.name) %>

  <section class="content_box">
    <article role="primary" class="pools">
      <p>
        <b><%= t('pools.description') %></b>
        <%= @pool.description %>
      </p>

      <p>
        <b><%= t('pools.user') %></b>
        <%= link_to_user @pool.user %>
      </p>

      <% if @vote %>
        <ul>
          <% @pool.questions.each do |question| %>
            <li>
              <%= '*' if @vote.question == question %>
              <%= question.content %> (<%= question.votes.size %>)
              <% if can? :update, @pool %>
                <%= button_to 'X', question, :confirm => t('common.confirm'), :method => :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= button_to t('votes.delete'), @vote, :confirm => t('common.confirm'), :method => :delete %>
      <% else %>
        <%= form_for Vote.new do |f| %>
          <ul>
            <% @pool.questions.each do |question| %>
              <li>
                <%= f.radio_button :question_id, question.id %>
                <%= f.label :"question_id_#{question.id}", question.content %>
                <% if can? :update, @pool %>
                  <%= button_to 'X', question, :confirm => t('common.confirm'), :method => :delete %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= f.submit t('common.submit') %>
        <% end %>
      <% end %>

      <% if can? :update, @pool %>
        <%= form_for(@pool.questions.new) do |f| %>
          <%= f.hidden_field :pool_id %>
          <%= f.text_field :content %>
          <%= f.submit t('common.add') %>
        <% end %>
      <% end %>
    </article>
    <hr />

    <% if can? :update, @pool %>
      <%= link_to t('common.edit'), edit_pool_path(@pool) %> |
    <% end %>
    <% if can? :destroy, @pool %>
      <%= button_to t('common.delete'), @pool, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), pools_path %>
  </section>
</section>
