<section class="content">
  <%= title(t('pool') + ' : ' + @pool.name) %>

  <section class="content_box">
    <article role="primary" class="pools">
      <p>
        <b><%= t('pools.description') %></b>
        <%= @pool.description %>
      </p>

      <p>
        <b><%= t('pools.user') %></b>
        <%= link_to_user @pool.user %>
      </p>
    </article>
    <hr />

    <% if can? :update, @pool %>
      <%= link_to t('common.edit'), edit_pool_path(@pool) %> |
    <% end %>
    <% if can? :destroy, @pool %>
      <%= button_to t('common.delete'), @pool, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), pools_path %>
  </section>
</section>
