<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pool.name %>
</p>

<p>
  <b>Description:</b>
  <%= @pool.description %>
</p>

<p>
  <b>User:</b>
  <%= @pool.user %>
</p>


<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
