<%= form_for(@quote) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :content, t('quotes.content') %>
      <%= f.text_field :content %>
    </li>
    <li class="field">
      <%= f.label :tag, 'Type' %>
      <%= f.select :tag, Quote::TAGS %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
