<%= form_for(@quote) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :content, t('quotes.content') %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :tag_list, t('tags') %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>
