%section.content
  = title t('quotes.list')

  %blockquote= link_to @quote.content, @quote

  %p
    = t('quotes.by')
    #{@quote.author} (#{@quote.tag})

  = render 'layouts/show_actions', {resource: @quote}
