<section class="content">
  <%= title t('quotes.list') %>

  <blockquote><%= link_to @quote.content, @quote %></blockquote>
  <p>
    <%= t('quotes.by') %> <%= link_to_user @quote.user  %>
  </p>
  <p>
    <strong>Type</strong> : <%= @quote.tag %>
  </p>

  <% if can? :update, @quote %>
    <%= link_to t('common.edit'), edit_quote_path(@quote) %> |
  <% end %>
  <% if can? :destroy, @quote %>
    <%= button_to t('common.delete'), @quote, :confirm => t('common.confirm'), :method => :delete %> |
  <% end %>
  <%= link_to t('common.list'), quotes_path %>
</section>

<%= render 'comments/list_and_add', {:commentable => @quote, :comments => @comments} %>
