<section class="content">
  <%= title t('quotes.list') %>

  <blockquote><%= link_to @quote.content, @quote %></blockquote>

  <p><%= t('quotes.by') %> <%= @quote.author %></p>

  <p><strong>Type</strong> : <%= @quote.tag %></p>

  <%= render 'layouts/show_actions', {:ressource => @quote} %>
</section>

<%= render 'comments/list_and_add', {:commentable => @quote, :comments => @comments} %>
