#{@user.real_name}, le BDE te présente le Daymail du #{@date} !

Sommaire :
- @content[:news].each do |news|
  * #{news.title}

- @content[:news].each do |news|
  \# #{news.title}
  \#{news.content}

Distribué par l'UNG.
