!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    %h1
      #{@user.real_name}, le BDE te présente le Daymail du #{@date} !

    %p Sommaire :

    %ul
      - @content[:news].each do |news|
        %li= news.title

    - @content[:news].each do |news|
      %h2= news.title
      %p= news.content

    %p Distribué par l'UNG.

/ Il est pas magnifique ce daymail en HTML5 ?
