Oh no, that's a serious error! You gotta fix it asap.
\
= "Error: #{@error.to_s}"

- if @request
  - %w[method url remote_ip].each do |key|
    = "#{key.humanize}: #{@request.send(key)}"

- if @error.backtrace
  Backtrace:
  = raw @error.backtrace.join("\n")

