<% unless comments.empty? and cannot?(:create, Comment) %>
<section class="content">
  <% if params[:controller] == 'comments' %>
    <%= title t('comments.list') %>
  <% else %>
    <h1><%= link_to t('comments.list'), [commentable, Comment] %></h1>
  <% end %>

  <ul class="comments">
    <% comments.each do |comment| %>
      <li><%= render 'comments/one_comment', {:commentable => commentable, :comment => comment} %></li>
    <% end %>

    <% if can? :create, Comment %>
    <li>
      <%= form_for [commentable, Comment.new] do |f| %>
        <ul class="fields">
          <li class="field">
            <%= f.text_area :content %>
          </li>
          <li class="actions">
            <%= f.submit t('common.add') %>
          </li>
        </ul>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>
<% end %>
