- unless comments.empty? and cannot?(:create, Comment)
  %section.content
    %h1.title= t('comment', count: comments.count)

    %ul.comments.list-with-delete
      - comments.each do |comment|
        %li
          = link_to '#', "#comment-#{comment.id}", title: l(comment.created_at), |
            class: 'anchor', id: "comment-#{comment.id}"                        |

          - if comment.user
            = link_to_user comment.user

          = comment.content

          - if can? :destroy, comment
            = button_to_delete t('common.delete'), [commentable, comment]

      - if can? :create, Comment
        %li
          = form_for [commentable, Comment.new] do |f|
            %ul.fields
              %li.field
                = f.text_area :content
              %li.actions
                = f.submit t('common.add')
