<%= title 'À faire : ' + @reminder.content %>

<p>
  <b>Appartient à :</b>
  <%= link_to_user @reminder.user %>
</p>
<p>
  <b>Tags :</b>
  <%= link_to_tags @reminder %>
</p>

<%= link_to t('common.edit'), edit_reminder_path(@reminder) %> |
<%= button_to t('common.delte'), @reminder, :confirm => t('common.confirm'), :method => :delete %> |
<%= link_to t('common.list'), reminders_path %>
