<%= title 'À faire : ' + @reminder.content %>

<p>
  <b>Appartient à :</b>
  <%= link_to_user @reminder.user %>
</p>
<p>
  <b>Tags :</b>
  <%= link_to_tags @reminder %>
</p>

<%= link_to 'Modifier ce truc à faire', edit_reminder_path(@reminder) %> |
<%= button_to 'Supprimer', @reminder, :confirm => 'Sûr ?', :method => :delete %> |
<%= link_to 'Liste des trucs à faire', reminders_path %>
