<%= form_for(@group) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name, t('groups.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>
