<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :email, t('users.email') %>
      <%= f.text_field :email %>
    </li>

    <% if !@user.new_record? %>
      <%= f.fields_for :preference do |f_pref| %>
        <li class="field">
          <%= f_pref.label :quote_type, t('users.quote_type') %>
          <%= f_pref.select :quote_type, Quote::TAGS.map { |tag| [ t("model.quote.tags.#{tag}"), tag ] }  %>
        </li>

        <li class="field">
          <%= f_pref.label :locale, t('users.locale') %>
          <%= f_pref.select :locale, I18n.available_locales.map(&:to_s).map { |locale| [ t("locales.#{locale}"), locale ] } %>
        </li>
      <% end %>

      <li class="field">
        <%= f.label :utt_address, t('users.utt_address') %>
        <%= f.text_field :utt_address %>
      </li>
      <li class="field">
        <%= f.label :parents_address, t('users.parents_address') %>
        <%= f.text_field :parents_address %>
      </li>
      <li class="field">
        <%= f.label :surname, t('users.surname') %>
        <%= f.text_field :surname %>
      </li>
      <li class="field">
        <%= f.label :once, t('users.once') %>
        <%= f.text_field :once %>
      </li>
      <li class="field">
        <%= f.label :phone, t('users.phone') %>
        <%= f.text_field :phone %>
      </li>
      <li class="field">
        <%= f.label :description, t('users.description') %>
        <%= f.text_area :description, :class => 'rich-content' %>
      </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
