<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :login, t('users.login') %>
      <%= f.text_field :login %>
    </li>
    <li class="field">
      <%= f.label :email, t('users.email') %>
      <%= f.text_field :email %>
    </li>
    <li class="field">
      <%= f.label :password, t('users.password') %>
      <%= f.password_field :password %>
    </li>
    <li class="field">
      <%= f.label :password_confirmation, t('users.password_confirmation') %>
      <%= f.password_field :password_confirmation %>
    </li>

    <% if !@user.new_record? %>
      <%= f.fields_for :preference do |f_pref| %>
        <li class="field">
          <%= f_pref.label :quote_type %>
          <%= f_pref.select :quote_type, Quote::TAGS %>
        </li>

        <li class="field">
          <%= f_pref.label :locale %>
          <%= f_pref.select :locale, I18n.available_locales.map(&:to_s) %>
        </li>
      <% end %>
    <% end %>

    <% if @user.profil %>
      <%= f.fields_for :profil do |f_profil| %>
        <li class="field">
          <%= f_profil.label :utt_address %>
          <%= f_profil.text_field :utt_address %>
        </li>
        <li class="field">
          <%= f_profil.label :parents_address %>
          <%= f_profil.text_field :parents_address %>
        </li>
        <li class="field">
          <%= f_profil.label :surname %>
          <%= f_profil.text_field :surname %>
        </li>
        <li class="field">
          <%= f_profil.label :once %>
          <%= f_profil.text_field :once %>
        </li>
        <li class="field">
          <%= f_profil.label :phone %>
          <%= f_profil.text_field :phone %>
        </li>
        <li class="field">
          <%= f_profil.label :description %>
          <%= f_profil.text_area :description, :class => 'rich-content' %>
        </li>
      <% end %>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>

<p><%= link_to t('users.password_reset'), password_reset_path %></p>
