<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :login, t('users.login') %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email, t('users.email') %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, t('users.password') %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('users.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <% if !@user.new_record? %>
    <%= f.fields_for :preference do |f_pref| %>
      <div class="field">
        <%= f_pref.label :quote_type %>
        <%= f_pref.text_field :quote_type %>
      </div>

      <div class="field">
        <%= f_pref.label :locale %>
        <%= f_pref.text_field :locale %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>

<%= link_to t('users.password_reset'), password_reset_path %>
