<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :login, t('users.login') %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email, t('users.email') %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, t('users.password') %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('users.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>

<% if @authorizations && !@authorizations.empty? %>
  <%= t('authorizations') %>
  <% for authorization in @authorizations %>
    <%= button_to "#{t('common.delete')} #{authorization.provider}", authorization, :method => 'delete' %>
  <% end %>
<% end %>
<%= t('authorization.add') %>
<%= render 'connect' %>
