<section class="content">
  <%= title t('users.list') %>

  <%= form_tag(users_path, :method => :get) do %>
    <ul class="fields">
      <li class="field"><%= text_field_tag :q %></li>
      <li class="field"><%= submit_tag t('common.search') %></li>
    </ul>
  <% end %>

  <% if @users.empty? %>
    <p><%= t('common.none') %></p>
  <% else %>
    <p class="profile">
    <% @users.each do |user| %>
      <%= link_to_user user %></li>
    <% end %>
  </p>

  <%= paginate @users %>

  <% end %>
</section>
