<%= title t('users.list') %>

<%= form_tag(users_path, :method => :get) do %>
  <%= text_field_tag :q %>
  <%= submit_tag t('common.search') %>
<% end %>

<p><%= t('users.count', :count => @users.count) %></p>

<ul>
<% @users.each do |user| %>
  <li><%= link_to_user user %></li>
<% end %>
</ul>

<br />

<% if can? :create, User %>
  <%= link_to t('common.add'), new_user_path %>
  <%= t('authorization.connect') %>
  <%= render 'connect' %>
<% end %>
