%section.content
  = title t('users.list')

  = search_form(users_path)

  - if @users.empty?
    %p= t('common.none')
  - else
    .profile
      - @users.each do |user|
        .image_frame
          .image= link_to_user user
          %strong.name= link_to user.to_s, user

    = paginate @users unless @users.empty?
