<section class="content">
  <%= title t('users.password_reset') %>

  <%= form_for(password_reset_path) do %>
    <%= label_tag :email, t('users.email') %>
    <%= text_field_tag :email %>
    <%= submit_tag t('common.submit') %>
  <% end %>
</section>
