<h2><%= @user.login %></h2>
<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>
<p>
  <strong>ID :</strong>
  <%= @user.id %>
</p>

<%= link_to 'Modifier le profil', edit_user_path(@user) %> |
<%= link_to 'Retourner à la liste des profils', users_path %>
