<section class="content">
  <%= title(t('user') + ' : ' + @user.real_name) %>

  <% if @user.profil.image %>
  <p class="profil"><%= link_to_user @user %></p>
  <% end %>

  <ul>
    <%= not_empty_li(t('users.email'), @user.email) %>
    <%= not_empty_li(t('profil.utt_address')), @user.profil.utt_address) %></li>
    <%= not_empty_li(t('profil.parents_address'), @user.profil.parents_address) %></li>
    <%= not_empty_li(t('profil.surname'), @user.profil.surname) %></li>
    <%= not_empty_li(t('profil.once'), @user.profil.once) %></li>

    <%= not_empty_li(t('profil.utt_id'), @user.profil.utt_id) %></li>
    <%= not_empty_li(t('profil.firstname'), @user.profil.firstname) %></li>
    <%= not_empty_li(t('profil.lastname'), @user.profil.lastname) %></li>
    <%= not_empty_li(t('profil.level'), @user.profil.level) %></li>
    <%= not_empty_li(t('profil.specialization'), @user.profil.specialization) %></li>
    <%= not_empty_li(t('profil.role'), @user.profil.role) %></li>

    <%= not_empty_li(t('profil.phone'), @user.profil.phone) %></li>
    <%= not_empty_li(t('profil.room'), @user.profil.room) %></li>
  </ul>

  <%=md @user.profil.description %>

  <%= list_of t('courses.list'), @user.courses, :name %>
  <%= list_of t('roles.list'), @user.roles, :name %>
  <%= list_of t('users.assos'), @user.created_assos, :name %>
  <%= list_of t('assos.list'), @user.assos, :name %>
  <%= list_of t('users.events'), @user.created_events, :name %>
  <%= list_of t('events.list'), @user.events, :name %>
  <%= list_of t('newss.list'), @user.news, :title %>
  <%= list_of t('classifieds.list'), @user.classifieds, :title %>
  <%= list_of t('carpools.list'), @user.carpools, :description %>
  <%= list_of t('quotes.list'), @user.quotes, :content %>
  <%= list_of t('comments.list'), @user.comments, :content, true %>
  <%= list_of t('users.projects'), @user.created_projects, :name %>
  <%= list_of t('projects.list'), @user.projects, :name %>
  <%= list_of t('polls.list'), @user.polls, :name %>
  <%= list_of t('timesheets.list'), @user.timesheets, :range %>

  <% unless @user.timesheets.empty? %>
  <div id="edt">
    <%= render 'timesheets/schedule', :schedule => @user.schedule %>
  </div>
  <% end %>

  <%= render 'layouts/show_actions', {:ressource => @user} %>
</section>
