<section class="content">
  <%= title(t('user') + ' : ' + @user.login) %>

  <p>
    <strong><%= t('users.email') %></strong> :
    <%= @user.email %>
  </p>

  <%= list_of t('courses.list'), @user.courses, :name %>
  <%= list_of t('roles.list'), @user.roles, :name %>
  <%= list_of t('users.assos'), @user.created_assos, :name %>
  <%= list_of t('assos.list'), @user.assos, :name %>
  <%= list_of t('users.events'), @user.created_events, :name %>
  <%= list_of t('events.list'), @user.events, :name %>
  <%= list_of t('newss.list'), @user.news, :title %>
  <%= list_of t('classifieds.list'), @user.classifieds, :title %>
  <%= list_of t('carpools.list'), @user.carpools, :description %>
  <%= list_of t('quotes.list'), @user.quotes, :content %>
  <%= list_of t('comments.list'), @user.comments, :content, true %>
  <%= list_of t('users.projects'), @user.created_projects, :name %>
  <%= list_of t('projects.list'), @user.projects, :name %>
  <%= list_of t('groups.list'), @user.groups, :name %>
  <%= list_of t('polls.list'), @user.polls, :name %>
  <%= list_of t('timesheets.list'), @user.timesheets, :range %>

  <% unless @user.timesheets.empty? %>
  <div id="edt">
    <%= render 'timesheets/schedule', :schedule => @user.schedule %>
  </div>
  <% end %>

  <h2>Infos de débug :</h2>
  <p>
    <% unless @user.preference.nil? %>
    <strong>Quote type</strong> :
    <%= @user.preference.quote_type %>,
    <strong>Locale</strong> :
    <%= @user.preference.locale %>,
    <% end %>
    <strong>Uttien ?</strong>
    <%= @user.is_student? ? 'Oui' : 'Non' %>,
    <strong>ID</strong> :
    <%= @user.id %>
  </p>

  <%= render 'layouts/show_actions', {:ressource => @user} %>
</section>
