<%= title 'Utilisateur : ' + @user.login %>

<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<p>
  <strong>ID :</strong>
  <%= @user.id %>
</p>

<!-- TODO : Infos du LDAP à ajouter -->

<%= list_of 'Responsable des UVs', @user.created_courses, :name %>
<%= list_of 'Inscrit aux UVs', @user.courses, :name %>
<%= list_of 'Rôles', @user.roles, :name %>
<%= list_of 'Association crées', @user.created_associations, :name %>
<%= list_of 'Membre des associations', @user.associations, :name %>
<%= list_of 'Événements créés', @user.created_events, :title %>
<%= list_of 'Participe aux événements', @user.events, :title %>
<%= list_of 'News', @user.news, :title %>
<%= list_of 'Annonces', @user.classifieds, :title %>
<%= list_of 'Covoiturage', @user.roles, :name %>
<%= list_of 'Citations', @user.quotes, :content %>
<%= list_of_comments 'Commentaires', @user.comments, :content %>

<% if can? :update, @user %>
  <%= link_to 'Modifier', edit_user_path(@user) %> |
<% end %>
<% if can? :destroy, @user %>
  <%= link_to 'Supprimer', @user, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des profils', users_path %>
