%section.content
  = title @user.to_s

  - if @user.image
    %p.profile.alone= link_to_user @user, link_to_asset: true

  %div.information
    = dl @user, %w(email phone utt_address parents_address birth_date website)

    = dl_inline @user, %w(level specialization role room surname once)

  = md @user.description

  - unless @user.timesheets.empty?
    #schedule
      = render('timesheets/schedule', schedule: @user.schedule)
      %p= link_to t('users.cumulate_schedules'), timesheets_path

    %p= not_empty_inline(t('users.timesheet.hours_per_week'), @user.hours_per_week.to_s)

  = render('layouts/show_actions', resource: @user)
