<%= title(t('user') + ' : ' + @user.login) %>

<p>
  <b><%= t('users.email') %></b>
  <%= @user.email %>
</p>
<p>
  <b>CAS ? </b><%= @user.cas %>
</p>
<p>
  <b>ID :</b>
  <%= @user.id %>
</p>

<%= list_of t('courses.list'), @user.courses, :name %>
<%= list_of t('roles.list'), @user.roles, :name %>
<%= list_of t('users.assos'), @user.created_assos, :name %>
<%= list_of t('assos.list'), @user.assos, :name %>
<%= list_of t('users.events'), @user.created_events, :name %>
<%= list_of t('events.list'), @user.events, :name %>
<%= list_of t('newss.list'), @user.news, :title %>
<%= list_of t('classifieds.list'), @user.classifieds, :title %>
<%= list_of t('carpools.list'), @user.carpools, :description %>
<%= list_of t('quotes.list'), @user.quotes, :content %>
<%= list_of t('comments.list'), @user.comments, :content, true %>
<%= list_of t('users.projects'), @user.created_projects, :name %>
<%= list_of t('projects.list'), @user.projects, :name %>
<%= list_of t('groups.list'), @user.groups, :name %>
<%= list_of t('pools.list'), @user.pools, :name %>
<%= list_of t('timesheets.list'), @user.timesheets, :range %>

<% unless @user.timesheets.empty? %>
  <%= render 'timesheets/schedule', :timesheets => @user.timesheets %>
<% end %>

<% if can? :update, @user %>
  <%= link_to t('common.edit'), edit_user_path(@user) %> |
<% end %>
<% if can? :destroy, @user %>
  <%= button_to t('common.delete'), @user, :confirm => t('common.delete'), :method => :delete %> |
<% end %>
<%= link_to t('common.list'), users_path %>
