<section class="content">
  <%= title(t('user') + ' : ' + @user.real_name) %>

  <% if @user.profile.try :image %>
  <p class="profile"><%= link_to_user @user %></p>
  <% end %>

  <ul>
    <%= not_empty_li(t('users.email'), mail_to(@user.email)) %>
    <% if @user.profile %>
      <%= not_empty_li(t('profile.firstname'), @user.profile.firstname) %>
      <%= not_empty_li(t('profile.lastname'), @user.profile.lastname) %>

      <%= not_empty_li(t('profile.utt_address'), @user.profile.utt_address) %>
      <%= not_empty_li(t('profile.parents_address'), @user.profile.parents_address) %>
      <%= not_empty_li(t('profile.surname'), @user.profile.surname) %>
      <%= not_empty_li(t('profile.once'), @user.profile.once) %>

      <%= not_empty_li(t('profile.level'), @user.profile.level) %>
      <%= not_empty_li(t('profile.specialization'), @user.profile.specialization) %>
      <%= not_empty_li(t('profile.role'), @user.profile.role) %>

      <%= not_empty_li(t('profile.phone'), @user.profile.phone) %>
      <%= not_empty_li(t('profile.room'), @user.profile.room) %>
    <% end %>
  </ul>

  <%=md @user.profile.description if @user.profile %>

  <% unless @user.timesheets.empty? %>
  <div id="edt">
    <%= render 'timesheets/schedule', :schedule => @user.schedule %>
  </div>
  <noscript><%= list_of t('timesheets.list'), @user.timesheets, :range %></noscript>
  <% end %>

  <%= list_of t('courses.list'), @user.courses, :name %>
  <%= list_of t('roles.list'), @user.roles, :name %>
  <%= list_of t('users.assos'), @user.created_assos, :name %>
  <%= list_of t('users.events'), @user.created_events, :name %>
  <%= list_of t('events.list'), @user.events, :name %>
  <%= list_of t('newss.list'), @user.news, :title %>
  <%= list_of t('classifieds.list'), @user.classifieds, :title %>
  <%= list_of t('carpools.list'), @user.carpools, :description %>
  <%= list_of t('comments.list'), @user.comments, :content, true %>
  <%= list_of t('users.projects'), @user.created_projects, :name %>
  <%= list_of t('projects.list'), @user.projects, :name %>
  <%= list_of t('polls.list'), @user.polls, :name %>

  <%= render 'layouts/show_actions', {:ressource => @user} %>
</section>
