<section class="content">
  <%= title t('views.error500.title') %>

  <p><%= t('views.error500.content') %></p>
  <p><%= image_tag 'errors/500.png' %></p>
  <p><a href="http://xkcd.com/292/"><%= t('views.error500.credit') %></a></p>
</section>

<section class="content">
  <h1 class="title"><%= t('views.error500.explain') %> <%= exception.to_s %></h1>
  <ul>
    <%= backtrace.each do |b| %>
    <li><%= b %></li>
    <% end %>
  </ul>
</section>
