<section class="content">
  <% if current_user %>
    <%= render 'timesheets/agenda', :agenda => current_user.agenda %>
  <% else %>
    <h1 class="title"><%= t('home.index.title') %></h1>
    <p>
      <%= image_tag 'others/logo_ung.png', :class => 'left' %>
    </p>
    <%=raw t('home.index.content') %>
    <p>
      <%= link_to "UTT Net Group", :root %>
    </p>
  <% end %>
</section>

<%= render :template => 'news/index' %>

