<section>
  <div class="home">
    <h1>Menu</h1>
      <ul class="menu">
          <% if !current_user %>
              <li class="partie"><%= link_to t('user_sessions.cas'), cas_new_path%></li>
              
          <% end %>
          <% if can?(:read, User) %>
              <li class="partie"><%= link_to current_user.login, current_user%></li>
          <% end %>
	  <% if can?(:read, Reminder) %>
              <li class="partie"><%= link_to t('reminders.list'), reminders_path%></li>
          <% end %>
          <% if can?(:read, News) %>
              <li class="partie"><%= link_to t('layout.news'), news_index_path%></li>
          <% end %>
          <% if can?(:read, Album) %>
                <li class="partie"><%=link_to t('layout.albums'), albums_path%></li>
          <% end %>
          <% if can?(:read, Annal) %>
                <li class="partie"><%= link_to t('layout.annals'), annals_path%></li>
          <% end %>
          <% if can?(:read, Classified) %>
		<li class="partie"><%=link_to t('layout.classifieds'), classifieds_path%></li>
          <% end %>
          <% if can?(:read, Asso) %>
                <li class="partie"><%= link_to t('layout.assos'), assos_path%></li>
          <% end %>
          <% if can?(:read, Event) %>
                <li class="partie"><%= link_to t('layout.events'), events_path%></li>
          <% end %>
	  <% if can?(:read, Carpool) %>
              <li class="partie"><%= link_to t('layout.carpools'), carpools_path%></li>
          <% end %>
	  <% if can?(:read, Project) %>
              <li class="partie"><%= link_to t('layout.projects'), projects_path%></li>
          <% end %>
          <% if can?(:read, User) %>
                <li class="partie"><%= link_to t('layout.users'), users_path%></li>
          <% end %>
	  <% if can?(:read, Course) %>
              <li class="partie"><%= link_to t('layout.course'), courses_path%></li>
          <% end %>
          <% if can?(:read, Poll) %>
              <li class="partie"><%= link_to t('layout.polls'), polls_path%></li>
          <% end %>
          <% if current_user %>
                <li class="partie"><%= link_to t('user_sessions.logout'), :logout%></li>
          <% end %>
      </ul>
  </div>
</section>
