%section.content
  %h1.title= t('home.index.search')

  = search_form(users_path)

- unless mobile?
  %section.content
    - if current_user
      = render 'timesheets/agenda', agenda: current_user.agenda
    - else
      %h1.title= t('home.index.title')
      %p= image_tag 'others/logo_ung.png', class: 'left'
      = md t('home.index.content')

  = render template: 'news/index'
