<section>
  <h1><%= t '.hello' %></h1>
  <article>
    <figure>
      <%= image_tag 'home/logo_ung.png', {:alt => 'UNG', :align => 'right'} %>
    </figure>
    <p>
      UTTien (ancien, actuel ou futur), ou curieux… l'UNG te souhaite la
      bienvenue sur LE site des étudiants de l'Université de technologie de
      Troyes…
    </p>
    <p>
      Pourquoi un site étudiant ? Peut être pour trouver pleins d'infos
      indispensables à la vie d'UTTien (Mails, Trombinoscope, Emploi du
      temps, Agenda, Clubs &amp; Assos…) pouvoir exprimer le dynamisme de
      notre vie étudiante ! (Album photo, Forum) et nous rendre pleins de
      services (Petites annonces, Covoiturage, Annales…)
    </p>
    <p>
      A très bientôt… à Troyes ou ailleurs… l'UTT Net Group<br />
      <%= link_to "Association étudiante informatique de l'UTT", :root %>
    </p>

    <% if @weather %>
    <h2>Météo à Troyes</h2>
    <p>
      Aujourd'hui : <%= @weather.condition.temp %> °C : <%= @weather.condition.text %>. <br />
      Demain : de <%= @weather.forecasts[0].low %> à <%= @weather.forecasts[0].high %> °C : <%= @weather.forecasts[0].text %><br />
      Après-demain : de <%= @weather.forecasts[1].low %> à <%= @weather.forecasts[1].high %> °C : <%= @weather.forecasts[1].text %><br />
    </p>
    <% end %>
  </article>
</section>

<%= render :template => 'news/index' %>
