<%= form_for(@event) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('events.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('events.description') %>
      <%= f.text_area :description %>
    </li>
    <li class="field">
      <%= f.label :location, t('events.location') %>
      <%= f.text_field :location %>
    </li>
    <li class="field">
      <%= f.label :start_at, t('events.start_at') %>
      <%= f.datetime_select :start_at %>
    </li>
    <li class="field">
      <%= f.label :end_at, t('events.end_at') %>
      <%= f.datetime_select :end_at %>
    </li>
    <li class="field">
      <%= label_tag 'assos', t('events.assos') %>
      <% Asso.all.each do |asso| %>
        <%= check_box_tag 'event[asso_ids][]', asso.id, @event.assos.include?(asso) %>
        <%= asso.name %>
      <% end %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
