<%= form_for(@event) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title, 'Titre' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, 'Description' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :location, 'Lieu' %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_at, 'Du' %><br />
    <%= f.datetime_select :start_at %>
  </div>
  </div>
  <div class="field">
    <%= f.label :end_at, 'Au' %><br />
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= label_tag 'associations', 'Associations' %><br />
    <% Association.all.each do |asso| %>
      <%= check_box_tag 'event[association_ids][]', asso.id, @event.associations.include?(asso) %>
      <%= asso.name %>
      <br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :tag_list, 'Tags' %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>
