<%= form_for(@event) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title, 'Titre' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, 'Description' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :location, 'Lieu' %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date, 'Date' %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <!-- TODO: Checkboxes à la place, parce que Ctrl + clics n'est pas très intuitif -->
    <%= label_tag 'associations', 'Associations' %><br />
    <%= select_tag 'associations', associations_select(@event), :multiple => true%>
  </div>
  <div class="field">
    <%= f.label :tag_list, 'Tags' %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>
