%section.block
  %header
    %section.date
      =raw l(event.start_at, format: '%d <br /> %b') if event.start_at
    %h2
      = link_to event.name, event
    %ul.details
      - if event.start_at
        %li
          %strong= t('events.time')
          = l(event.start_at, format: "%H:%M")
          = ' - ' + l(event.end_at, format: "%H:%M") if event.end_at
      %li
        %strong= t('events.location')
        = event.location
      - unless event.assos.empty?
        %li
          %strong= t('events.assos')
          = links_to_objects event.assos

  =md event.description
