<article role="primary" class="events">
  <header class="news_banner">
	 <strong class="date"><%=raw l(@event.start_at, :format => '%d <br /> %b') %></strong>
	 <strong><%= event.name %></strong>
	<em>  
	<%= l(@event.start_at, :format => :short) %>-<%= l(@event.end_at, :format => :short) %>|
      <strong><%= t('events.users') %> :</strong> <%= link_to_users @event.users %> |
      <strong><%= t('tags') %> :</strong> <%= link_to_tags @event %> 
  </em>
  </header>
<p>
  <b><%= t('events.description') %></b>
  <%= @event.description %>
</p>

<p>
  <b><%= t('events.owner') %></b>
  <%= link_to_user @event.owner %>
</p>

<p>
  <b><%= t('events.location') %></b>
  <%= @event.location %>
</p>

<p>
  <b><%= t('events.start_at') %></b>
  <%= l(@event.start_at, :format => :short) %>
</p>

<p>
  <b><%= t('events.end_at') %></b>
  <%= l(@event.end_at, :format => :short) %>
</p>

<p>
  <b><%= t('events.users') %></b>
  <%= link_to_users @event.users %>
</p>

<p>
  <b><%= t('events.associations') %></b>
  <%= link_to_associations @event %>
</p>

<p>
  <b><%= t('tags') %></b>
  <%= link_to_tags @event %>
</p>

</article>

<hr />
