<section class="content">
  <%= title t('events.list') %>

  <section class="content_box">
    <% @events.each do |event| %>
  <header class="news_banner">
     <strong class="date"><%=raw l(event.start_at, :format => '%d <br /> %b') %></strong>
     <strong><%= link_to event.name, event %></strong>
    </em>
    </header>
    <% end %>
  </section>
  <%= paginate @events %>

  <% if can? :create, Event %>
    <%= link_to t('common.add'), new_event_path %>
  <% end %>
</section>

