<% title(t('event') + ' : ' + @event.to_s) %>

<section class="content">
  <%= render 'one_event', {event: @event} %>

  <p>
    <strong><%= t('events.location') %></strong> :
    <%= @event.location %>
  </p>

  <p>
    <strong><%= t('events.assos') %></strong> :
    <%= link_to_assos @event %>
  </p>

  <p>
    <strong><%= t('events.users') %></strong> :
    <%= link_to_users @event.users %>
  </p>

  <p>
    <strong><%= t('events.owner') %></strong> :
    <%= link_to_user @event.owner %>
  </p>

  <p>
    <%= google_agenda_link(@event) %>
    <%= mailto_link(@event) %>
  </p>

  <% if @event.users.include?(current_user) %>
    <p><%= link_to t('events.disjoin'), disjoin_event_path(@event), method: :post %></p>
  <% elsif can? :join, @event %>
    <p><%= link_to t('events.join'), join_event_path(@event), method: :post %></p>
  <% end %>

  <%= render 'layouts/show_actions', ressource: @event %>
</section>

<% unless @event.news.empty? %>
  <%= render template: 'news/index' %>
<% end %>

<%= render 'documents/list_and_add', {documentable: @event, documents: @documents} %>
<%= render 'comments/list_and_add', {commentable: @event, comments: @comments} %>
