<% title(t('event') + ' : ' + @event.name) %>

<section class="content">
  <section class="content_box">
    <article role="primary" class="events">
      <header class="news_banner">
       <strong class="date"><%=raw l(@event.start_at, :format => '%d <br /> %b') %></strong>
       <strong><%= @event.name %></strong>
      <em>
          <%= l(@event.start_at, :format => "%H:%M") %> - <%= l(@event.end_at, :format => "%H:%M") %> |
          <strong><%= t('events.users') %> :</strong> <%= link_to_users @event.users %> |
          <strong><%= t('tags') %> :</strong> <%= link_to_tags @event %>
      </em>
      </header>

      <p>
        <b><%= t('events.description') %></b>
        <%=md @event.description %>
      </p>

      <p>
        <b><%= t('events.owner') %></b>
        <%= link_to_user @event.owner %>
      </p>

      <p>
        <b><%= t('events.location') %></b>
        <%= @event.location %>
      </p>

      <p>
        <b><%= t('events.start_at') %></b>
        <%= l(@event.start_at, :format => :short) %>
      </p>

      <p>
        <b><%= t('events.end_at') %></b>
        <%= l(@event.end_at, :format => :short) %>
      </p>

      <p>
        <b><%= t('events.users') %></b>
        <%= link_to_users @event.users %>
      </p>

      <p>
        <b><%= t('events.assos') %></b>
        <%= link_to_assos @event %>
      </p>
    </article>

    <hr />

    <div id="QRcode">
      <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= CGI::escape(request.url) %>&choe=UTF-8">
    </div>
    <% if @event.users.include?(current_user) %>
    <p><%= link_to t('events.disjoin'), disjoin_event_path(@event), :method => 'PUT' %></p>
  <% elsif can? :'join', Event %>
    <p><%= link_to t('events.join'), join_event_path(@event), :method => 'PUT' %></p>
  <% end %>

  <% if can? :update, @event %>
    <%= link_to t('common.edit'), edit_event_path(@event) %> |
  <% end %>
  <% if can? :destroy, @event %>
    <%= button_to t('common.delete'), @event, :confirm => t('common.confirm'), :method => :delete %> |
  <% end %>
  <%= link_to t('common.list'), events_path %>

  </section>

  <%= render 'documents/list_and_add', {:documentable => @event, :documents => @documents} %>
  <%= render 'comments/list_and_add', {:commentable => @event, :comments => @comments} %>

  <% if @event.news.empty? %>
      <%= t('events.daymail', :count => 0) %>
  <% else %>
      <h3><%= t('events.daymail', :count => @event.news.size) %></h3>
      <%= render :template => 'news/index' %>
  <% end %>
</section>
