<%= title 'Événement : ' + @event.title %>

<p>
  <b>Description :</b>
  <%= @event.content %>
</p>

<p>
  <b>Organisateur :</b>
  <%= link_to_user @event.organizer %>
</p>

<p>
  <b>Lieu :</b>
  <%= @event.location %>
</p>

<p>
  <b>Date :</b>
  <%= @event.date.strftime 'le %d %B %Y à %Hh%M' %>
</p>

<p>
  <b>Participants :</b>
  <%= link_to_users @event.users %>
</p>

<p>
  <b>Associations organisatrices :</b>
  <%= link_to_associations @event %>
</p>

<p>
  <b>Tags :</b>
  <%= link_to_tags @event %>
</p>

<% if @event.users.include?(current_user) %>
  <p><%= link_to 'Ne plus participer', disjoin_event_path(@event), :method => 'PUT' %></p>
<% elsif can? :'join', Event %>
  <p><%= link_to 'Participer', join_event_path(@event), :method => 'PUT' %></p>
<% end %>

<% if can? :update, @event %>
  <%= link_to 'Modifier', edit_event_path(@event) %> |
<% end %>
<% if can? :destroy, @event %>
  <%= link_to 'Supprimer', @event, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des événements', events_path %>

<%= render 'documents/list_and_add', {:documentable => @event, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @event, :comments => @comments} %>

<% if @event.news.empty? %>
    Aucun daymail
<% else %>
    <%= render :template => 'news/index' %>
<% end %>
