<%= form_for(@news) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :title, t('newss.title') %>
      <%= f.text_field :title %>
    </li>
    <li class="field">
      <%= f.label :content, t('newss.content') %>
      <%= f.text_area :content, class: 'rich-content' %>
    </li>
    <li class="field">
      <%= f.label :event_id, t('newss.event') %>
      <%= f.select :event_id, events_select(@news), {}, {class: 'chosen'} %>
    </li>

    <% if can? :moderate, News %>
    <li class="field">
      <%= f.label :is_moderated, t('newss.is_moderated') %>
      <%= f.check_box :is_moderated %>
    </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
