<%= form_for(@news) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title, 'Titre' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, 'Contenu' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>
