<article class="news">
  <header>
    <h1>
      <%= link_to news.title, news %>
      <% if !news.is_moderated and can? :moderate, News %>
        | <%= link_to t('newss.moderate'), edit_news_path(news), :class => 'moderate' %>
      <% end %>
    </h1>
    <dl>
      <dt class="date"><%= t('newss.date') %></dt>
        <dd class="date"><time datetime="<%= news.created_at.utc  %>"><%= l(news.created_at, :format => '%d %b') %></time></dd>
      <dt><%= t('newss.hour') %></dt>
        <dd><time datetime="<%= news.created_at.utc  %>"><%= l(news.created_at, :format => '%Hh') %></time></dd>
      <dt><%= t('newss.user') %></dt>
        <dd><%= link_to_user news.user %></dd>
      <dt><%= t('tags') %></dt>
        <dd><%= link_to_tags news %></dd>
      <dt><%= t('newss.comments') %></dt>
        <dd class="last"><%= news.comments.count %></dd>
    </dl>
  </header>

  <%= news.content %>

  <% if news.event %>
  <h3><%= t('newss.event') %></h3>
  <p>
    <%= link_to news.event.name, news.event %>
  </p>
  <% end %>
</article>

<hr />
