<section class="block">
  <header>
    <section class="date"><%= content_tag(:span, raw(l(news.created_at, format: '%d<br />%b')), title: news.created_at) %></section>
    <h2>
      <%= link_to news.title, news %>
      <% if !news.is_moderated and can? :moderate, News %>
        | <%= link_to t('newss.moderate'), edit_news_path(news) %>
      <% end %>
    </h2>
    <ul class="details">
      <li><strong><%= t('newss.hour') %> :</strong> <%= l(news.created_at, format: '%Hh') %></li>
      <% if news.user %>
        <li><strong><%= t('newss.user') %> :</strong> <%= link_to_user news.user %></li>
      <% end %>
      <li><strong><%= t('newss.comments') %> :</strong> <%= news.comments.count %></li>
    </ul>
  </header>

  <%=md news.content %>

  <% if news.event %>
  <p>
    <strong><%= t('newss.event') %></strong> : <%= link_to news.event.name, news.event %>
  </p>
  <% end %>
</section>
