<article class="news">
  <header>
    <h1>
      <%= link_to news.title, news %>
    </h1>
    <dl>
      <dt class="date">Date</dt>
        <dd class="date"><time datetime="<%= news.created_at.utc  %>"><%= news.created_at.strftime '%e %b' %></time></dd>
      <dt>Heure</dt>
        <dd><time datetime="<%= news.created_at.utc  %>"><%= news.created_at.strftime '%Hh' %></time></dd>
      <dt>Auteur</dt>
        <dd class="last"><%= news.user.login %></dd>
    </dl>
  </header>
  <%= news.content %>
</article>

<hr />