<article class="news">
  <header>
    <h1>
      <%= link_to news.title, news %>
      <% if !news.is_moderated and can? :moderate, News %>
        | <%= link_to 'Modère moi !', edit_news_path(news), :class => 'moderate' %>
      <% end %>
    </h1>
    <dl>
      <dt class="date">Date</dt>
        <dd class="date"><time datetime="<%= news.created_at.utc  %>"><%= news.created_at.strftime '%d %b' %></time></dd>
      <dt>Heure</dt>
        <dd><time datetime="<%= news.created_at.utc  %>"><%= news.created_at.strftime '%Hh' %></time></dd>
      <dt>Auteur</dt>
        <dd><%= link_to_user news.user %></dd>
      <dt>Tags</dt>
        <dd><%= link_to_tags news %></dd>
      <dt>Commentaires</dt>
        <dd class="last"><%= news.comments.count %></dd>
    </dl>
  </header>

  <%= news.content %>

  <% if news.event %>
  <h3>Événement associé :</h3>
  <p>
    <%= link_to news.event.title, news.event %>
  </p>
  <% end %>
</article>

<hr />
