<h3><%= link_to t('documents.list'), [documentable, Document] %></h3>

<ul class="documents">
  <% if documents.empty? %>
    <%= t('documents.count', :count => 0) %>
  <% else %>
    <% documents.each do |document| %>
    <li>
      <%= render 'documents/one_document', {:documentable => documentable, :document => document} %>
    </li>
    <% end %>
  <% end %>
</ul>

<% if can? :create, documentable.documents.new %>
  <%= form_for([documentable, Document.new], :html => {:multipart => true}) do |f| %>
      <%= f.file_field :asset %>
      <%= f.submit t('common.add') %>
  <% end %>
<% end %>
