<% unless documents.empty? and cannot? :create, documentable.documents.new %>
  <h3><%= link_to t('documents.list'), [documentable, Document] %></h3>

  <% if documents.empty? %>
  <p><%= t('documents.count', :count => 0) %></p>
  <% else %>
  <ul class="documents">
    <% documents.each do |document| %>
    <li>
      <%= render 'documents/one_document', {:documentable => documentable, :document => document} %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if can? :create, documentable.documents.new %>
    <%= form_for([documentable, Document.new], :html => {:multipart => true}) do |f| %>
        <%= f.file_field :asset %>
        <%= f.submit t('common.add') %>
    <% end %>
  <% end %>
<% end %>
