<% unless documents.empty? and cannot_create_doc?(documents) %>
<section class="content">
  <% if params[:controller] == 'documents' %>
    <%= title t('documents.list') %>
  <% else %>
    <h1 class="title"><%= link_to t('documents.list'), [documentable, Document] %></h1>
  <% end %>

  <ul class="documents list-with-delete">
    <% documents.each do |document| %>
    <li><%= render 'documents/one_document', {documentable: documentable, document: document} %></li>
    <% end %>
    <% if can?(:create, documents.new) %>
      <%= form_for [documentable, documentable.documents.new] do |f| %>
        <%= f.hidden_field :documentable_id %>
        <%= f.hidden_field :documentable_type %>
        <%= f.file_field :asset %>
        <%= f.submit t('common.add') %>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>
