- unless documents.empty? and cannot_create_doc?(documents)
  %section.content
    - if params[:controller] == 'documents'
      = title t('document', count: documents.count)
    - else
      %h1.title= link_to t('document', count: documents.count), [documentable, Document]

    %ul.documents.list-with-delete
      - documents.each do |document|
        %li
          - if document.image?
            = link_to image_tag document.asset.url, document.asset.url
          - else
            = link_to document.asset_file_name, document.asset.url

          - if can? :destroy, document
            = button_to_delete t('common.delete'), [documentable, document]

    - if can?(:create, documents.new)
      = form_for [documentable, documentable.documents.new] do |f|
        = f.hidden_field :documentable_id
        = f.hidden_field :documentable_type
        = f.file_field :asset
        = f.submit t('common.add')
