<% doc = documentable.documents.new %>
<% unless documents.empty? and cannot?(:create, doc) %>
  <% documents.delete(doc) %>

  <h3><%= link_to t('documents.list'), [documentable, Document] %></h3>

  <% unless documents.empty? %>
  <ul class="documents">
    <% documents.each do |document| %>
    <li>
      <%= render 'documents/one_document', {:documentable => documentable, :document => document} %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <% if can? :create, documentable.documents.new %>
    <%= form_for([documentable, Document.new]) do |f| %>
      <%= f.file_field :asset %>
      <%= f.submit t('common.add') %>
    <% end %>
  <% end %>
<% end %>
