<%= form_for(@carpool) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :description, t('carpools.description') %>
      <%= f.text_area :description, class: 'rich-content' %>
    </li>
    <li class="field">
      <%= f.label :departure, t('carpools.departure') %>
      <%= f.text_field :departure %>
    </li>
    <li class="field">
      <%= f.label :arrival, t('carpools.arrival') %>
      <%= f.text_field :arrival %>
    </li>
    <li class="field">
      <%= f.label :date, t('carpools.date') %>
      <%= f.datetime_select :date %>
    </li>
    <li class="field">
      <%= f.label :is_driver, t('carpools.is_driver') %>
      <%= f.check_box :is_driver %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
