<section class="content">
  <%= title t('carpools.list') %>

  <h2><%= t('carpools.drivers') %></h2>

  <ul>
  <% @drivers.each do |carpool| %>
    <li><%= link_to "#{carpool.departure} - #{carpool.arrival}", carpool %></li>
  <% end %>
  </ul>

  <h2><%= t('carpools.passengers') %></h2>

  <ul>
  <% @not_drivers.each do |carpool| %>
    <li><%= link_to "#{carpool.departure} - #{carpool.arrival}", carpool %></li>
  <% end %>
  </ul>

  <% if can? :create, Carpool %>
    <ul class="actions"><li><%= link_to t('common.add'), new_carpool_path %></li></ul>
  <% end %>
</section>
