<section class="content">
  <%= title(t('carpool') + ' : ' + @carpool.location) %>

  <p>
    <strong><%= t('carpools.description') %></strong>
    <%=md @carpool.description %>
  </p>

  <p>
    <strong><%= t('carpools.date') %></strong>
    <%= l(@carpool.date, :format => :long) %>
  </p>

  <p>
    <strong><%= t('carpools.is_driver') %></strong>
    <%= @carpool.is_driver %>
  </p>

  <%= render 'layouts/show_actions', {:ressource => @carpool} %>
</section>

<%= render 'documents/list_and_add', {:documentable => @carpool, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @carpool, :comments => @comments} %>
