<section class="content">
  <%= title("#{t('carpool')} #{t('carpools.from')} #{@carpool.departure} #{t('carpools.to')} #{@carpool.arrival}") %>

  <p>
    <strong><%= t('carpools.is_driver') %></strong>
    <%= @carpool.is_driver ? t('yes') : t('no') %>
  </p>

  <p>
    <strong><%= t('carpools.date') %></strong> :
    <%= l(@carpool.date, format: :long) %>
  </p>

  <p>
    <strong><%= t('carpools.user') %></strong> :
    <%= @carpool.user.real_name %>
  </p>

  <%=md @carpool.description %>

  <%= render 'layouts/show_actions', {ressource: @carpool} %>
</section>

<%= render 'documents/list_and_add', {documentable: @carpool, documents: @documents} %>
<%= render 'comments/list_and_add', {commentable: @carpool, comments: @comments} %>
