%section.content
  = title("#{@driver_or_passenger} : #{@carpool.to_s}")

  %p
    %strong= t('carpools.user')
    = @carpool.user.link

  = dl(@carpool, %w(user))

  = @carpool.description

  = render 'layouts/show_actions', resource: @carpool

= render 'documents/list_and_add', {documentable: @carpool, documents: @documents}
= render 'comments/list_and_add', {commentable: @carpool, comments: @comments}
