<%= title(t('carpool') + ' : ' + @carpool.location) %>

<p>
  <b><%= t('carpools.description') %></b>
  <%= @carpool.description %>
</p>

<p>
  <b><%= t('carpools.date') %></b>
  <%= @carpool.date %>
</p>

<p>
  <b><%= t('carpools.is_driver') %></b>
  <%= @carpool.is_driver %>
</p>

<p>
  <b><%= t('tags') %></b>
  <%= link_to_tags @carpool %>
</p>

<% if can? :update, @carpool %>
  <%= link_to t('common.edit'), edit_carpool_path(@carpool) %> |
<% end %>
<% if can? :destroy, @carpool %>
  <%= button_to t('common.delete'), @carpool, :confirm => t('common.sure'), :method => :delete %> |
<% end %>
<%= link_to t('common.list'), carpools_path %>

<%= render 'documents/list_and_add', {:documentable => @carpool, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @carpool, :comments => @comments} %>
