<section class="content">
  <%= title(t('carpool') + ' : ' + @carpool.way) %>

  <p>
    <strong><%= t('carpools.is_driver') %></strong>
    <%= @carpool.is_driver ? 'Conducteur' : 'Passager' %>
  </p>

  <p>
    <strong><%= t('carpools.date') %></strong> :
    <%= l(@carpool.date, :format => :long) %>
  </p>

  <%=md @carpool.description %>

  <%= render 'layouts/show_actions', {:ressource => @carpool} %>
</section>

<%= render 'documents/list_and_add', {:documentable => @carpool, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @carpool, :comments => @comments} %>
