<%= form_for(@poll) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('polls.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('polls.description') %>
      <%= f.text_area :description %>
    </li>

<!-- TODO: Modifier les réponses depuis ce formulaire ! -->

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
