<%= form_for(@poll) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('polls.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('polls.description') %>
      <%= f.text_area :description %>
    </li>

    <%= f.fields_for :answers do |nested_f| %>
    <li class="field">
      <%= nested_f.label :content, t('answer') %>
      <%= nested_f.text_field :content %>
      <% unless nested_f.object.new_record? %>
        <%= t('common.delete') %>
        <%= nested_f.check_box :_destroy %>
      <% end %>
    </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
