<%= form_for(@poll) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name, t('polls.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, t('polls.description') %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>
