<section class="content">
  <%= title(t('poll') + ' : ' + @poll.name) %>

  <%=md @poll.description %>

  <p>
    <strong><%= t('polls.user') %></strong> :
    <%= link_to_user @poll.user %>
  </p>

  <% if @vote %>
  <ul class="list-with-delete">
    <% @poll.answers.each do |answer| %>
    <li>
      <%= answer.content %> (<%= answer.votes.size %>)
      <%= delete_button(image_tag("icons/delete.png"), @vote) if @vote.answer == answer %>
    </li>
    <% end %>
  </ul>
  <% elsif !@poll.answers.empty? %>
    <%= form_for Vote.new do |f| %>
    <ul class="list-no-style">
      <% @poll.answers.each do |answer| %>
      <li>
        <%= f.radio_button :answer_id, answer.id %>
        <%= f.label :"answer_id_#{answer.id}", answer.content %>
      </li>
      <% end %>
      <li><%= f.submit t('common.submit') %></li>
    </ul>
    <% end %>
  <% end %>

  <%= render 'layouts/show_actions', {:ressource => @poll} %>
</section>
