<%= form_for(@project) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('projects.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('projects.description') %>
      <%= f.text_area :description, class: 'rich-content' %>
    </li>

    <% unless @project.new_record? %>
    <li class="field">
      <%= f.label :owner_id, t('projects.owner') %>
      <%= f.select :owner_id, User.all.map { |u| [u.real_name, u.id] }, {}, class: 'chosen' %>
    </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
