= form_for(@project) do |f|
  = f.error_messages

  %ul.fields
    %li.field
      = f.label :name, t('projects.name')
      = f.text_field :name

    %li.field
      = f.label :description, t('projects.description')
      = f.text_area :description, class: 'rich-content'

    %li.field
      = label_tag :users, t('timesheets.users')
      = select_tag :users, select_objects(@first_users, @project.users, false), |
        :multiple => true, :class => 'users-chosen'                            |

    %li.actions
      = f.submit t('common.submit')
