<section class="content">
  <%= title(t('project') + ' : ' + @project.name) %>

  <%=md @project.description %>

  <p>
    <strong><%= t('projects.owner') %></strong> :
    <%= link_to_user @project.owner %>
  </p>

  <p>
    <strong><%= t('projects.users') %></strong> :
    <%= link_to_users @project.users %>
  </p>

  <% if @project.users.include?(current_user) %>
    <p><%= link_to t('projects.disjoin'), disjoin_project_path(@project), method: :post %></p>
  <% elsif can? :join, @project %>
    <p><%= link_to t('projects.join'), join_project_path(@project), method: :post %></p>
  <% end %>

  <%= render 'layouts/show_actions', {ressource: @project} %>
</section>

<%= render 'documents/list_and_add', {documentable: @project, documents: @documents} %>
<%= render 'comments/list_and_add', {commentable: @project, comments: @comments} %>
