<section class="content">
  <%= title(t('project') + ' : ' + @project.name) %>

  <section class="content_box">
    <article role="primary" class="annals">
      <p>
        <b><%= t('projects.description') %></b>
        <%= @project.description %>
      </p>

      <p>
        <b><%= t('projects.owner') %></b>
        <%= link_to_user @project.owner %>
      </p>

      <p>
        <b><%= t('projects.users') %></b>
        <%= link_to_users @project.users %>
      </p>

      <% if @project.users.include?(current_user) %>
        <p><%= link_to t('projects.disjoin'), disjoin_project_path(@project), :method => 'PUT' %></p>
      <% elsif can? :'join', Project %>
        <p><%= link_to t('projects.join'), join_project_path(@project), :method => 'PUT' %></p>
      <% end %>

    </article>
    <hr />

    <% if can? :update, @project %>
      <%= link_to t('common.edit'), edit_project_path(@project) %> |
    <% end %>
    <% if can? :destroy, @project %>
      <%= button_to t('common.delete'), @project, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), projects_path %>
  </section>
</section>

<%= render 'documents/list_and_add', {:documentable => @project, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @project, :comments => @comments} %>
