%section.content
  = title(@project.to_s)

  %p= not_empty_inline(t('projects.users'), links_to_users(@project.users))

  = md @project.description

  = render 'layouts/show_actions', resource: @project

= render 'documents/list_and_add', {documentable: @project, documents: @documents}
= render 'comments/list_and_add', {commentable: @project, comments: @comments}
