<section class="content">
  <%= title(t('project') + ' : ' + @project.name) %>

  <section class="content_box">
    <%= render 'one_projects', {:projects => @projects} %>

    <% if can? :update, @project %>
      <%= link_to t('common.edit'), edit_project_path(@project) %> |
    <% end %>
    <% if can? :destroy, @project %>
      <%= button_to t('common.delete'), @project, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), projects_path %>
  </section>
</section>

<%= render 'documents/list_and_add', {:documentable => @project, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @project, :comments => @comments} %>
