<section class="content">
  <%= title(t('album') + ' : ' + @album.name) %>

  <p><strong><%= link_to @album.name, @album %></strong></p>

  <%=md @album.description %>

  <ul class="gallery">
  <% @album.images.each do |image| %>
    <li><%= link_to image_tag(image.asset.url), image.asset.url  %></li>
  <% end %>
  </ul>

  <ul class="actions"><li><%= link_to t('common.list'), albums_path %></li></ul>
</section>

