<%= form_for(@timesheet) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :day, 'Jour' %><br />
    <%= f.select :day, day_select(@timesheet) %>
  </div>
  <div class="field">
    <%= f.label :from, 'Début' %><br />
    <%= f.time_select :from, {:minute_step => 5} %>
  </div>
  <div class="field">
    <%= f.label :to, 'Fin' %><br />
    <%= f.time_select :to, {:minute_step => 5} %>
  </div>
  <div class="field">
    <%= f.label :week, 'Semaine' %><br />
    <%= f.select :week, week_select(@timesheet) %>
  </div>
  <div class="field">
    <%= f.label :room, 'Salle' %><br />
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label 'course_id', 'Cours associé' %><br />
    <%= f.select 'course_id', course_select(@timesheet) %>
  </div>
  <div class="field">
    <%= label_tag 'users', 'Ceux qui utilisent cet horaire' %><br />
    <% User.all.each do |user| %>
      <%= check_box_tag 'timesheet[user_ids][]', user.id, @timesheet.users.include?(user) %>
      <%= user.login %>
      <br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Envoyer' %>
  </div>
<% end %>
