<%= form_for(@timesheet) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :start_at, t('timesheets.start_at') %>
      <%= f.datetime_select :start_at %>
    </li>
    <li class="field">
      <%= f.label :duration, t('timesheets.duration') %>
      <%= f.text_field :duration %>
    </li>
    <li class="field">
      <%= f.label :week, t('timesheets.week') %>
      <%= f.select :week, options_for_select([nil, 'A', 'B'], @timesheet.week) %>
    </li>
    <li class="field">
      <%= f.label :room, t('timesheets.room') %>
      <%= f.text_field :room %>
    </li>
    <li class="field">
      <%= f.label 'course_id', t('timesheets.course') %>
      <%= f.select 'course_id', course_select(@timesheet), {}, :class => 'chosen' %>
    </li>
    <li class="field">
      <%= f.label :category, 'Type' %>
      <%= f.select :category, options_for_select(Timesheet::CATEGORIES, @timesheet.category) %>
    </li>
    <li class="field">
      <%= label_tag :users, t('timesheets.users') %>
      <%= select_tag :users, users_select(@first_users, @timesheet.users), :multiple => true, :class => 'users-chosen' %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
