<%= form_for(@timesheet) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :day, t('timesheets.day') %>
      <%= f.select :day, day_select(@timesheet) %>
    </li>
    <li class="field">
      <%= f.label :from, t('timesheets.from') %>
      <%= f.time_select :from, {:minute_step => 5} %>
    </li>
    <li class="field">
      <%= f.label :to, t('timesheets.to') %>
      <%= f.time_select :to, {:minute_step => 5} %>
    </li>
    <li class="field">
      <%= f.label :week, t('timesheets.week') %>
      <%= f.select :week, week_select(@timesheet) %>
    </li>
    <li class="field">
      <%= f.label :room, t('timesheets.room') %>
      <%= f.text_field :room %>
    </li>
    <li class="field">
      <%= f.label 'course_id', t('timesheets.course') %>
      <%= f.select 'course_id', course_select(@timesheet) %>
    </li>
    <li class="field">
      <%= label_tag 'users', t('timesheets.users') %>
      <% User.all.each do |user| %>
        <%= check_box_tag 'timesheet[user_ids][]', user.id, @timesheet.users.include?(user) %>
        <%= user.login %>
      <% end %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
