<section class="content">
  <%= title t('timesheets.list') %>

  <%= form_tag(timesheets_path, :method => :get) do %>
    <ul class="fields">
      <li class="field">
        <%= select_tag :users, users_select, :multiple => true, :class => 'chosen' %>
      </li>
      <li class="field">
        <%= submit_tag t('timesheets.cumulate') %>
      </li>
    </ul>
  <% end %>

  <ul>
  <% @timesheets.each do |timesheet| %>
    <li>
      <%= link_to timesheet.range, timesheet %>
      (<%= link_to timesheet.course.name, timesheet.course %>)
    </li>
  <% end %>
  </ul>

  <%= render 'timesheets/schedule', :timesheets => @timesheets %>

  <% if can? :create, Timesheet %>
    <ul class="actions"><li><%= link_to t('common.add'), new_timesheet_path %></li></ul>
  <% end %>
</section>
