<section class="content">
  <%= title t('timesheets.list') %>

  <%= form_tag(timesheets_path, method: :get) do %>
    <ul class="fields">
      <li class="field">
        <%= select_tag :users, select_objects(@first_users, @users),
              multiple: true, class: 'users-chosen' %>
      </li>
      <li class="field"><%= submit_tag t('timesheets.cumulate') %></li>
    </ul>
  <% end %>

  <% if params[:users] %>
    <%= render 'timesheets/schedule', schedule: @schedule %>
  <% end %>

  <% if can? :create, Timesheet %>
    <ul class="actions"><li><%= link_to t('common.add'), new_timesheet_path %></li></ul>
  <% end %>
</section>
