%section.content
  = title @timesheet.to_s

  = not_empty_inline(t('timesheets.course'), link_to(@timesheet.course, @timesheet.course), true)

  = not_empty_inline(t('timesheets.users'), links_to_users(@timesheet.users))

  = render 'timesheets/schedule', schedule: Timesheet.make_schedule(@timesheet)

  = render 'layouts/show_actions', {resource: @timesheet, resources: timesheets_path}
