<section class="content">
  <%= title(t('timesheet') + ' : ' + @timesheet.range) %>

  <p>
    <strong><%= t('timesheets.room') %></strong> :
    <%= @timesheet.room %>
  </p>

  <p>
    <strong><%= t('timesheets.course') %></strong> :
    <%= link_to @timesheet.course.name, @timesheet.course %>
  </p>

  <p>
    <strong><%= t('timesheets.users') %></strong> :
    <%= link_to_users @timesheet.users %>
  </p>

  <%= render 'layouts/show_actions', {:ressource => @timesheet, :ressources => timesheets_path} %>
</section>
