<section class="content">
  <%= title(t('timesheet') + ' : ' + @timesheet.to_s) %>

  <p>
    <strong><%= t('timesheets.course') %></strong> :
    <%= link_to @timesheet.course.name, @timesheet.course %>
  </p>

  <p>
    <strong><%= t('timesheets.users') %></strong> :
    <%= links_to_users @timesheet.users %>
  </p>

  <%= render 'timesheets/schedule', schedule: Timesheet.make_schedule(@timesheet) %>

  <%= render 'layouts/show_actions', {ressource: @timesheet, ressources: timesheets_path} %>
</section>
