= form_for(@wiki) do |f|
  = f.error_messages

  %ul.fields
    %li.field
      = f.label :title, t('wikis.title')
      = f.text_field :title

    %li.field
      = f.label :content, t('wikis.content')
      = f.text_area :content, class: 'rich-content'

    %li.field
      = f.label :parent_id, t('wikis.parent')
      = f.select :parent_id, parent_select_options(Wiki), {}, class: 'chosen'

    %li.actions
      = f.submit t('common.submit')
