<%= form_for(@wiki) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :title, 'Titre' %>
      <%= f.text_field :title %>
    </li>
    <li class="field">
      <%= f.label :content, 'Contenu' %>
      <%= f.text_area :content, :class => 'rich-content' %>
    </li>
    <li class="field">
      <%= f.label :role_id, 'Role' %>
      <%= f.select :role_id, parent_select_options(Role), {}, :class => 'chosen' %>
    </li>
    <li class="field">
      <%= f.label :parent_id, 'Parent' %>
      <%= f.select :parent_id, parent_select_options(Wiki), {}, :class => 'chosen' %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit')  %>
    </li>
  </ul>
<% end %>
