<section class="content">
  <%= title @wiki.title %>

  <%=md @wiki.content %>

  <% unless @wiki.children.empty? %>
  <p> Pages :
    <ul>
      <% @wiki.children.each do |wiki| %>
        <li><%= link_to wiki.title, wiki %></li>
      <% end %>
    </ul>
  </p>
  <% end %>

  <%= render 'layouts/show_actions', {:ressource => @wiki} %>
</section>

<%= render 'documents/list_and_add', {:documentable => @wiki, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @wiki, :comments => @comments} %>

