= form_for(@classified) do |f|
  = f.error_messages

  %ul.fields
    %li.field
      = f.label :title, t('classifieds.title')
      = f.text_field :title

    %li.field
      = f.label :description, t('classifieds.description')
      = f.text_area :description, class: 'rich-content'

    %li.field
      = f.label :price, t('classifieds.price')
      = f.text_field :price

    %li.field
      = f.label :location, t('classifieds.location')
      = f.text_field :location

    %li.actions
      = f.submit t('common.submit')
