<%= form_for(@classified) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title, t('classifieds.title') %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, t('classifieds.description') %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price, t('classifieds.price') %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :location, t('classifieds.location') %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit t('common.submit') %>
  </div>
<% end %>
