<section class="content">
  <%= title t('classifieds.list') %>

  <ul>
  <% @classifieds.each do |classified| %>
    <li><%= link_to classified.title, classified %> (<%= classified.price %>€)</li>
  <% end %>
  </ul>

  <%= paginate @classifieds %>

  <% if can? :create, Classified %>
    <ul class="actions"><li><%= link_to t('common.add'), new_classified_path %></li></ul>
  <% end %>
</section>
