%section.content
  = title t('classifieds.list')

  = search_form(classifieds_path)

  = links_to_objects @classifieds, true

  = paginate @classifieds unless @classifieds.empty?

  - if can? :create, Classified
    %ul.actions
      %li= link_to t('common.add'), new_classified_path
