%section.content
  = title(@classified.to_s)

  = not_empty_inline(t('classifieds.location'), @classified.location, true)
  = not_empty_inline(t('classifieds.user'), link_to_user(@classified.user), true)

  = md @classified.description

  = render 'layouts/show_actions', resource: @classified

= render 'documents/list_and_add', {documentable: @classified, documents: @documents}
= render 'comments/list_and_add', {commentable: @classified, comments: @comments}
