%section.content
  = title(@classified.to_s)

  = dl_inline @classified, %w(price location user)

  = md @classified.description

  = render 'layouts/show_actions', resource: @classified

= render 'documents/list_and_add', {documentable: @classified, documents: @documents}
= render 'comments/list_and_add', {commentable: @classified, comments: @comments}
