<section class="content">
  <%= title(t('classified') + ' : ' + @classified.title) %>

  <%=md @classified.description %>

  <p>
    <strong><%= t('classifieds.price') %></strong> :
    <%= @classified.price %>€
  </p>

  <p>
    <strong><%= t('classifieds.location') %></strong> :
    <%= @classified.location %>
  </p>

  <p>
    <strong><%= t('classifieds.user') %></strong> :
    <%= link_to_user @classified.user %>
  </p>

  <ul class="actions">
    <% if can? :update, @classified %>
    <li><%= link_to t('common.edit'), edit_classified_path(@classified) %></li>
    <% end %>
    <% if can? :destroy, @classified %>
    <li><%= button_to t('common.delete'), @classified, :confirm => t('common.confirm'), :method => :delete %></li>
    <% end %>

    <li><%= link_to t('common.list'), classifieds_path %></li>
  </ul>
</section>

<%= render 'documents/list_and_add', {:documentable => @classified, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @classified, :comments => @comments} %>
