<%= form_for(@annal) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('annals.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('annals.description') %>
      <%= f.text_area :description, :class => 'rich-content' %>
    </li>
    <li class="field">
      <%= f.label :course_id, t('annals.course') %>
      <%= f.select :course_id, Course.all.collect {|c| [ c.name, c.id ] }, {}, :class => 'chosen' %>
    </li>
    <li class="field">
      <%= f.label :date, t('annals.date') %>
      <%= f.date_select :date %>
    </li>

    <%= f.fields_for :documents do |nested_f| %>
    <li class="field">
      <% if nested_f.object.new_record? %>
        <%= nested_f.label :asset, t('document') %>
        <%= nested_f.file_field :asset %>
      <% else %>
        <%= nested_f.label :_destroy, t('common.delete') %>
        <%= nested_f.object.asset_file_name unless nested_f.object.new_record? %>
        <%= nested_f.check_box :_destroy %>
      <% end %>
    </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
