<%= form_for(@annal) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :course_id, t('annals.course') %>
      <%= f.select :course_id, select_objects(Course.all, @annal.course), {}, class: 'chosen' %>
    </li>
    <li class="field">
      <%= f.label :semester, t('annals.semester') %>
      <%= f.select :semester, Annal::SEMESTERS.map { |s| [ t("model.annal.semesters.#{s}"), s ] } %>
    </li>
    <li class="field">
      <%= f.label :year, t('annals.year') %>
      <%= f.select :year, (Time.now.year - 20)..Time.now.year %>
    </li>
    <li class="field">
      <%= f.label :kind, t('annals.kind') %>
      <%= f.select :kind, Annal::KINDS.collect { |k| [ t("model.annal.kinds.#{k}"), k ] } %>
    </li>

    <%= f.fields_for :documents do |nested_f| %>
    <li class="field">
      <% if nested_f.object.new_record? %>
        <%= nested_f.label :asset, t('document') %>
        <%= nested_f.file_field :asset %>
      <% else %>
        <%= nested_f.label :_destroy, t('common.delete') %>
        <%= nested_f.object.asset_file_name unless nested_f.object.new_record? %>
        <%= nested_f.check_box :_destroy %>
      <% end %>
    </li>
    <% end %>

    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
