<%= title t('annal.list') %>

<ul>
<% @annals.each do |annal| %>
  <li>
    <%= link_to annal.name, annal %>
    (<%= t('annal.course') %> : <%= annal.course.name %>, <%= t('annal.date') %> : <%= l annal.date %>)
  </li>
<% end %>
</ul>

<br />

<%= link_to t('annal.add'), new_annal_path %>
