<section class="content">
  <%= title t('annals.list') %>

  <ul>
  <% @annals.each do |annal| %>
    <li>
      <%= link_to annal.name, annal %>
      (<%= t('annals.course') %> : <%= annal.course.name %>, <%= t('annals.date') %> : <%= l annal.date %>)
    </li>
  <% end %>
  </ul>

  <% if can? :create, Annal %>
    <ul class="actions"><li><%= link_to t('common.add'), new_annal_path %></li></ul>
  <% end %>
</section>

