%section.content
  = title t('annals.list')

  = search_form(annals_path)

  = links_to_objects(@annals)

  = paginate @annals unless @annals.empty?

  - if can? :create, Annal
    %ul.actions
      %li= link_to t('common.add'), new_annal_path
