%section.content
  = title @annal.to_s

  %p
    %strong= t('annals.course')
    = link_to(@annal.course.to_s, @annal.course)

  = render 'layouts/show_actions', resource: @annal

= render 'documents/list_and_add', {documentable: @annal, documents: @documents}
= render 'comments/list_and_add', {commentable: @annal, comments: @comments}
