<%= title 'Annale : ' + @annal.name %>

<p>
  <b>Description :</b>
  <%= @annal.description %>
</p>

<p>
  <b>Date :</b>
  <%= @annal.date.strftime 'le %d %B %Y à %Hh%M' %>
</p>

<p>
  <b>UV :</b>
  <%= link_to @annal.course.name, @annal.course %>
</p>

<p>
  <b>Tags :</b>
  <%= link_to_tags @annal %>
</p>

<% if can? :update, @annal %>
  <%= link_to 'Modifier', edit_annal_path(@annal) %> |
<% end %>
<% if can? :destroy, @annal %>
  <%= link_to 'Supprimer', @annal, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des annales', annals_path %>

<%= render 'documents/list_and_add', {:documentable => @annal, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @annal, :comments => @comments} %>
