%section.content
  = title t('annal') + ' : ' + @annal.to_s

  %p
    %strong= t('annals.course')
    = ':'
    = link_to @annal.course.to_s, @annal.course

  = render 'layouts/show_actions', ressource: @annal

= render 'documents/list_and_add', {documentable: @annal, documents: @documents}
= render 'comments/list_and_add', {commentable: @annal, comments: @comments}
