<section class="content">
  <%= title(t('annal') + ' : ' + @annal.name) %>

  <%=md @annal.description %>

  <p>
    <strong><%= t('annals.date') %></strong> :
    <%= l @annal.date %>
  </p>
  <p>
    <strong><%= t('annals.course') %></strong> :
    <%= link_to @annal.course.name, @annal.course %>
  </p>

  <%= render 'layouts/show_actions', {:ressource => @annal} %>
</section>

<%= render 'documents/list_and_add', {:documentable => @annal, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @annal, :comments => @comments} %>
