<%= form_for(@role) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('roles.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
