%section.content
  = title t('roles.list')

  %table
    %thead
      %tr
        %th= t('roles.name')
        %th= t('roles.resource')
        %th= t('roles.users')

    %tbody
      - @roles.each do |role|
        %tr
          %td= link_to role.to_s, role

          - if role.resource_id
            %td= link_to role.resource.to_s, role.resource
          - else
            %td= (role.resource_type || t('model.role.global'))

          %td
            %span{:title => role.short_users_list}
              = t("users.count", count: role.users.size)
