<section class="content">
  <%= title t('roles.list') %>

  <ul>
  <% @roles.each do |role| %>
    <li>
      <%= link_to role do %>
        <%= t('roles.default.'+role.name, :default => role.name) %>
        <%= (role.asso ? " (#{role.asso.name})" : '') %>
      <% end %>
    </li>
  <% end %>
  </ul>

  <% if can? :create, Role %>
    <ul class="actions"><li><%= link_to t('common.add'), new_role_path %></li></ul>
  <% end %>
</section>
