<section class="content">
  <%= title(t('roles.name') + ' : ' + t('roles.default.'+@role.name, :default => @role.name)) %>

  <% if @role.asso %>
  <p>
    <strong><%= t('roles.asso') %></strong> :
    <%= link_to @role.asso.name, @role.asso %>
  </p>
  <% end %>

  <p>
    <strong><%= t('roles.users') %></strong> :
  </p>
  <ul>
    <% if @role.users.empty? %>
    <li><%= t('common.none') %></li>
    <% end %>
    <% @role.users.each do |user| %>
    <li>
      <%= link_to_user user %>
      <% if can? :update, user %>
        <%= button_to 'X', disjoin_role_path(@role, user),
            :confirm => t('common.confirm'), :method => :delete %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <% if can? :update, @role %>
    <%= form_for(@role, :url => join_role_path(@role)) do |f| %>
      <%= f.select :users, User.all.map { |u| [u.login, u.id] } %>
      <%= f.submit t('common.add') %>
    <% end %>
  <% end %>

  <%= render 'layouts/show_actions', {:ressource => @role} %>
</section>
