<!-- TODO: Traduire le nom du rôle affiché -->
<%= title 'Rôle : ' + @role.name %>

<% if @role.association %>
<p>
  <b>Association associée :</b>
  <%= link_to @role.association.name, @role.association %>
</p>
<% end %>

<p>
  <b>Utilisateurs ayant ce rôle :</b>
  <% @role.users.each do |user| %>
    <%= link_to_user user %>
    <% if can? :update, user %>
      <%= button_to 'X', disjoin_role_path(@role, user), :confirm => t('common.confirm'), :method => :delete %>
    <% end %>
  <% end %>
</p>

<% if can? :update, @role %>
  <%= form_for(@role, :url => join_role_path(@role)) do |f| %>
    <%= f.select :users, User.all.map { |u| [u.login, u.id] } %>
    <%= f.submit t('common.add') %>
  <% end %>
<% end %>

<% if can? :update, @role %>
  <%= link_to t('common.edit'), edit_role_path(@role) %> |
<% end %>
<% if can? :destroy, @role %>
  <%= button_to t('common.delete'), @role, :confirm => t('common.confirm'), :method => :delete %> |
<% end %>
<%= link_to t('common.list'), roles_path %>
