<section class="content">
  <%= title(t('association') + ' : ' + @association.name) %>
  <%= image_tag @association.image.asset.url unless @association.image.nil? %>

  <section class="content_box">
    <%= render 'one_associations', {:associations => @associations} %>

    <% if can? :update, @association %>
      <%= link_to t('common.edit'), edit_association_path(@association) %> |
    <% end %>
    <% if can? :destroy, @association %>
      <%= button_to t('common.delete'), @association, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), associations_path %>

  </section>
</section>

<%= render 'documents/list_and_add', {:documentable => @association, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @association, :comments => @comments} %>

