<%= title 'Association : ' + @association.name %>

<p>
  <b>Description :</b>
  <%= @association.description %>
</p>

<p>
  <b>Président :</b>
  <%= link_to_user @association.president %>
</p>

<p>
  <b>Membres :</b>
  <%= link_to_users @association.users %>
</p>

<% if @association.parent %>
<p>
  <b>Parent :</b>
  <%= link_to @association.parent.name, @association.parent %>
</p>
<% end %>

<% if @association.users.include?(current_user) and can? :disjoin, Association %>
  <%= form_tag(disjoin_association_path(@association), :method => 'PUT') do %>
    <div class="actions">
      <%= submit_tag 'Ne plus participer' %>
    </div>
  <% end %>
<% elsif can? 'join'.to_sym, Association %>
  <%= form_tag(join_association_path(@association), :method => 'PUT') do %>
    <div class="actions">
      <%= submit_tag 'Participer' %>
    </div>
  <% end %>
<% end %>

<% if can? :update, @association %>
  <%= link_to 'Modifier', edit_association_path(@association) %> |
<% end %>
<% if can? :destroy, @association %>
  <%= link_to 'Supprimer', @association, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des associations', associations_path %>

<%= render 'comments/list_and_add', {:commentable => @association, :comments => @comments} %>