<%= title 'Association : ' + @association.name %>

<%= image_tag @association.image.asset.url %>

<p>
  <b>Description :</b>
  <%= @association.description %>
</p>

<p>
  <b>Président :</b>
  <%= link_to_user @association.owner %>
</p>

<p>
  <b>Membres :</b>
  <%= link_to_users @association.users %>
</p>

<% if @association.parent %>
<p>
  <b>Parent :</b>
  <%= link_to @association.parent.name, @association.parent %>
</p>
<% end %>

<% if @association.children %>
<p>
  <b>Associations filles :</b>
  <% @association.children do |asso| %>
    <%= link_to asso.name, asso %>
  <% end %>
</p>
<% end %>

<p>
  <b>Tags :</b>
  <%= link_to_tags @association %>
</p>

<%= list_of 'Événements', @association.events, :title %>

<% if @association.users.include?(current_user) %>
  <p><%= link_to 'Quitter', disjoin_association_path(@association), :method => 'PUT' %></p>
<% elsif can? :'join', Association %>
  <p><%= link_to 'Rejoindre', join_association_path(@association), :method => 'PUT' %></p>
<% end %>

<p>
  <b>Rôle(s) dans cette association :</b>
  <% @association.roles.each do |role| %>
    <%= link_to role.name, role %>
    <% if can? :update, role %>
      <%= form_for(role, :url => join_role_path(role)) do |f| %>
        <%= f.select :users, User.all.map { |u| [u.login, u.id] }, {:prompt => 'Choisissez un utilisateur'} %>
        <%= f.submit 'Ajouter' %>
      <% end %>
    <% end %>
  <% end %>
</p>

<% if can? :update, @association %>
  <%= link_to 'Modifier', edit_association_path(@association) %> |
<% end %>
<% if can? :destroy, @association %>
  <%= link_to 'Supprimer', @association, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des associations', associations_path %>

<%= render 'documents/list_and_add', {:documentable => @association, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @association, :comments => @comments} %>
