<%= form_for(@course) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('courses.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :description, t('courses.description') %>
      <%= f.text_area :description, :class => 'rich-content' %>
    </li>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
