<article role="primary" class="courses">
  <p>
    <b><%= t('courses.description') %></b>
    <%= @course.description %>
  </p>

  <p>
    <b><%= t('courses.users') %></b>
    <%= link_to_users @course.users %>
  </p>

  <p>
    <b><%= t('tags') %></b>
    <%= link_to_tags @course %>
  </p>

  <%= list_of t('courses.annals'), @course.annals, :name %>
</article>
<hr />
