<section class="content">
  <%= title(t('course') + ' : ' + @course.name) %>

  <%=md @course.description %>

  <p>
    <strong><%= t('courses.users') %></strong> :
    <%= link_to_users @course.users %>
  </p>

  <%= list_of_objects t('courses.annals'), @course.annals, :name %>

  <%= render 'timesheets/schedule', :schedule => @course.schedule %>

  <%= render 'layouts/show_actions', {:ressource => @course} %>
</section>

<%= render 'comments/list_and_add', {:commentable => @course, :comments => @comments} %>
