<%= title 'UV : ' + @course.name %>

<p>
  <b>Description :</b>
  <%= @course.description %>
</p>

<p>
  <b>Responsable de l'UV :</b>
  <%= link_to_user @course.owner %>
</p>

<p>
  <b>Participants à l'UV :</b>
  <%= link_to_users @course.users %>
</p>

<p>
  <b>Tags :</b>
  <%= link_to_tags @course %>
</p>

<% if can? :update, @course %>
  <%= link_to 'Modifier', edit_course_path(@course) %> |
<% end %>
<% if can? :destroy, @course %>
  <%= link_to 'Supprimer', @course, :confirm => 'Sûr ?', :method => :delete %> |
<% end %>
<%= link_to 'Liste des UVs', courses_path %>

<%= render 'documents/list_and_add', {:documentable => @course, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @course, :comments => @comments} %>
