%section.content
  = title t('activities.list')

  = if @activities.empty?
    %p #{t('activities.none')}

  %ul
    - @activities.each do |activity|
      %li= raw |
        "#{link_to_user(activity.user)} " + |
        "#{t('activities.actions.' + activity.what)} " + |
        "#{link_to(activity.resource, activity.resource)} " + |
        "#{t('activities.when', date: time_ago_in_words(activity.when))}" |

