<%= form_for(@asso) do |f| %>
  <%= f.error_messages %>

  <ul class="fields">
    <li class="field">
      <%= f.label :name, t('assos.name') %>
      <%= f.text_field :name %>
    </li>
    <li class="field">
      <%= f.label :image, t('assos.image') %>
      <%= f.file_field :image %>
    </li>
    <% unless @asso.image.nil? %>
    <li class="field">
      <%= label_tag :image_delete, t('common.delete') %>
      <%= check_box_tag :image_delete %>
      <%= image_tag @asso.image.asset.url, :class => 'thumb' %>
    </li>
    <% end %>
    <li class="field">
      <%= f.label :description, t('assos.description') %>
      <%= f.text_area :description, :class => 'rich-content' %>
    </li>
    <li class="field">
      <%= f.label :parent_id, t('assos.parent') %>
      <%= f.select :parent_id, parent_select_options(Asso), {}, :class => 'chosen' %>
    </li>
    <% unless @asso.new_record? %>
    <li class="field">
      <%= f.label :owner_id, t('assos.owner') %>
      <%= f.select :owner_id, users_select(@asso), {}, :class => 'users-chosen' %>
    </li>
    <% end %>
    <li class="actions">
      <%= f.submit t('common.submit') %>
    </li>
  </ul>
<% end %>
