%section.content
  = title t('assos.list')

  = search_form(assos_path)

  - if @assos.empty?
    %p= t('common.none')
  - else
    - @assos.each do |asso|
      .image_frame
        .image= image_tag_for_asso(asso)
        %strong.name= link_to(asso.to_s, asso)

  = paginate @assos unless @assos.empty?

  - if can? :create, Asso
    %ul.actions
      %li= link_to t('common.add'), new_asso_path
