%section.content
  = title t('assos.list')

  = form_tag(assos_path, method: :get) do
    %ul.fields
      %li.field= text_field_tag :q, params[:q]
      %li.field= submit_tag t('common.search')

  - if @assos.empty?
    %p= t('common.none')
  - else
    .profile
      - @assos.each do |asso|
        .user_frame
          .image= image_tag_for_asso(asso)
          %strong.name= link_to(asso.to_s, asso)

    = paginate @assos

  - if can? :create, Asso
    %ul.actions
      %li= link_to t('common.add'), new_asso_path
