%section.content
  = title(t('asso') + ' : ' + @asso.to_s)

  %p= @asso.logo
  %p= @asso.description

  = dl @asso, %w(website parent children owner)

  -# FIXME extract forms to a partial
  %dl
    - unless @disjoinable_roles.empty?
      %dt= t('assos.your_roles')
      %dd
        = form_for(@asso, url: disjoin_asso_path, method: :post) do |f|
          = f.label :roles, "#{t('assos.disjoin')}"
          = f.select :roles, @disjoinable_roles
          = f.submit t('c.roles.revoke')

    - unless @joinable_roles.empty?
      %dt= t('assos.available_roles')
      %dd
        = form_for(@asso, url: join_asso_path, method: :post) do |f|
          = f.label :roles, "#{t('assos.join')}"
          = f.select :roles, @joinable_roles
          = f.submit t('c.roles.grant')

  = dl @asso, %w(members events)

  = render 'layouts/show_actions', resource: @asso

= render 'documents/list_and_add', {documentable: @asso, documents: @documents}
= render 'comments/list_and_add', {commentable: @asso, comments: @comments}
