<section class="content">
  <%= title(t('asso') + ' : ' + @asso.name) %>
  <%= image_tag @asso.image.asset.url unless @asso.image.nil? %>

  <section class="content_box">
    <article role="primary" class="asso">
      <p>
        <b><%= t('asso.description') %></b>
        <%=md @asso.description %>
      </p>

      <p>
        <b><%= t('asso.owner') %></b>
        <%= link_to_user @asso.owner %>
      </p>

      <p>
        <b><%= t('asso.users') %></b>
        <%= link_to_users @asso.users %>
      </p>

      <% if @asso.parent %>
      <p>
        <b><%= t('asso.parent') %></b>
        <%= link_to @asso.parent.name, @asso.parent %>
      </p>
      <% end %>

      <% if !@asso.children.empty? %>
      <p>
        <b><%= t('asso.children') %></b>
        <% @asso.children do |asso| %>
          <%= link_to asso.name, asso %>
        <% end %>
      </p>
      <% end %>

      <%= list_of t('asso.events'), @asso.events, :name %>

      <% if @asso.users.include?(current_user) %>
        <p><%= link_to t('asso.disjoin'), disjoin_asso_path(@asso), :method => 'PUT' %></p>
      <% elsif can? :'join', Asso %>
        <p><%= link_to t('asso.join'), join_asso_path(@asso), :method => 'PUT' %></p>
      <% end %>

      <p>
        <b><%= t('asso.roles') %></b>
        <% @asso.roles.each do |role| %>
          <%= link_to role.name, role %>
          <% if can? :update, role %>
            <%= form_for(role, :url => join_role_path(role)) do |f| %>
              <%= f.error_messages %>
              <%= f.select :users, User.all.map { |u| [u.login, u.id] } %>
              <%= f.submit t('common.add') %>
            <% end %>
          <% end %>
        <% end %>
      </p>

      <% if can? :upate, @asso %>
      <p>
        <b><%= t('asso.add_role') %></b>
        <%= form_for(@asso.roles.build) do |f| %>
          <%= f.error_messages %>
          <%= f.hidden_field :asso_id %>
          <div class="field">
            <%= f.label :name, t('roles.name') %><br />
            <%= f.text_field :name %>
          </div>
          <div class="actions">
            <%= f.submit t('common.submit') %>
          </div>
        <% end %>
      </p>
      <% end %>
    </article>
    <hr />

    <% if can? :update, @asso %>
      <%= link_to t('common.edit'), edit_asso_path(@asso) %> |
    <% end %>
    <% if can? :destroy, @asso %>
      <%= button_to t('common.delete'), @asso, :confirm => t('common.confirm'), :method => :delete %> |
    <% end %>
    <%= link_to t('common.list'), asso_path %>
  </section>
</section>

<%= render 'documents/list_and_add', {:documentable => @asso, :documents => @documents} %>
<%= render 'comments/list_and_add', {:commentable => @asso, :comments => @comments} %>

