%section.content
  = title(t('asso') + ' : ' + @asso.to_s)

  %p= image_tag(@asso.image.asset.url) if @asso.image

  %p= md(@asso.description)

  %dl
    - unless @asso.website.blank?
      %dt= t('assos.website')
      %dd= link_to(@asso.website, @asso.website)

    - unless @asso.parent.nil?
      %dt= t('assos.parent')
      %dd= link_to(@asso.parent, @asso.parent)

    - unless @asso.children.empty?
      %dt= t('assos.children')
      %dd= raw(@asso.children.collect { |asso| link_to(asso, asso) }.join(', '))

    = not_empty_dd(t('assos.owner'), link_to_user(@asso.owner))

    - unless @disjoinable_roles.empty?
      %dt= t('assos.your_roles')
      %dd
        = form_for(@asso, url: disjoin_asso_path, method: :post) do |f|
          = f.label :roles, "#{t('assos.disjoin')}"
          = f.select :roles, @disjoinable_roles
          = f.submit t('c.roles.revoke')

    - unless @joinable_roles.empty?
      %dt= t('assos.available_roles')
      %dd
        = form_for(@asso, url: join_asso_path, method: :post) do |f|
          = f.label :roles, "#{t('assos.join')}"
          = f.select :roles, @joinable_roles
          = f.submit t('c.roles.grant')

    - unless @asso.roles.empty?
      %dt= t('assos.members')
      %dd
        %ul
        - @asso.roles.collect do |role|
          %li
            %strong= role.to_s
            = links_to_users(role.users)

    - unless @asso.events.empty?
      = not_empty_dd(t('assos.events'), links_to_objects(@asso.events))

  = render 'layouts/show_actions', ressource: @asso

= render 'documents/list_and_add', {documentable: @asso, documents: @documents}
= render 'comments/list_and_add', {commentable: @asso, comments: @comments}
