<section class="content">
  <%= title t('user_sessions.login') %>

  <p class="warning">
    Si tu es inscrit à l'UTT, connecte toi via le <%= link_to 'compte UTT', cas_new_path %>.
    La connexion alternative sert uniquement aux anciens et futurs UTTiens.
  </p>

  <%= form_tag(:controller => 'user_sessions', :action => 'create') do %>
    <ul class="fields">
      <li class="field">
        <%= label_tag :login, t('users.login') %>
        <%= text_field_tag :login %>
      </li>
      <li class="field">
        <%= label_tag :password, t('users.password') %>
        <%= password_field_tag :password %>
      </li>
      <li class="field">
        <%= label_tag :remember_me, t('users.remember_me') %>
        <%= check_box_tag :remember_me %>
      </li>
      <li class="actions">
        <%= submit_tag t('common.submit') %>
      </li>
    </ul>
  <% end %>

  <% if can? :create, User %>
    <ul class="actions">
      <li><%= link_to t('users.add'), new_user_path %></li>
      <li><%= link_to t('users.password_reset'), password_reset_path %></li>
    </ul>
  <% end %>
</section>
