<section class="content">
  <%= title t('user_sessions.login') %>

  <p>
    Pour vous connecter au site étu, utilisez votre compte UTT :
  </p>

  <h3><%= link_to 'Connexion avec le compte UTT', cas_new_path %></h3>

  <p>
    Si vous n'arrivez pas à vous connecter avec le lien ci-dessus (ça
    veut dire que le problème vient de l'UTT), vous pouvez vous
    connecter avec votre compte de secours, mais attention, ce n'est pas
    le même mot de passe (il faut que vous l'ayez changé).
  </p>

  <%= form_tag(:controller => 'user_sessions', :action => 'create') do %>
    <ul class="fields">
      <li class="field">
        <%= label_tag :login, t('users.login') %>
        <%= text_field_tag :login %>
      </li>
      <li class="field">
        <%= label_tag :password, t('users.password') %>
        <%= password_field_tag :password %>
      </li>
      <li class="field">
        <%= label_tag :remember_me, t('users.remember_me') %>
        <%= check_box_tag :remember_me %>
      </li>
      <li class="actions">
        <%= submit_tag t('common.submit') %>
      </li>
    </ul>
  <% end %>

  <% if can? :create, User %>
    <ul class="actions">
      <li><%= link_to t('users.add'), new_user_path %></li>
      <li><%= link_to t('users.password_reset'), password_reset_path %></li>
    </ul>
  <% end %>
</section>
