<section class="content">
  <%= title t('user_sessions.login') %>
  <section class="content_box">
  <%= form_tag(:controller => 'user_sessions', :action => 'create') do %>
  <div class="field">
    <%= t('users.login') %> :
    <%= text_field_tag :login %>
  </div>
  <div class="field">
    <%= t('users.password') %> :
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= check_box_tag :remember_me %>
    <%= label_tag :remember_me, t('users.remember_me') %>
  </div>
  <div class="actions">
    <%= submit_tag t('common.submit') %>
  </div>
<% end %>
  </section>
<% if can? :create, User %>
  <%= link_to t('users.add'), new_user_path %> <br>
  <%= link_to t('users.password_reset'), password_reset_path %>
<% end %>
</section>