<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= title_tag %>

  <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">

  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <section id="quote"><%= @random_quote.content %></section>

    <div id="banner">
      <%= image_tag 'style/banner.jpg' %>
    </div>

    <nav id="menubar">
      <%= link_to image_tag('icons/home.png') + ' Accueil', :root, :title => "Revenir à la page d'accueil." %>
      <%= link_to image_tag('icons/users.png') + ' Trombi', users_path, :title => 'Viens chercher des infos sur les UTTiens' %>
      <%= link_to image_tag('icons/news.png') + ' Annonces', classifieds_path, :title => 'Pour vendre ton Mac !' %>
      <%= link_to image_tag('icons/buckutt.png') + ' Buckutt', :root, :title => 'Recharge ton compte pour payer au foyer.' %>
      <%= link_to image_tag('icons/emails.png') + ' Mails', :root, :title => 'Accède à tes mails depuis le site étu.' %>
    </nav>
  </header>

  <div id="wrap">
    <aside id="sidebar">
      <section id="login_box">
        <% if current_user %>
          <%= render :partial => 'user_sessions/menu' %>
        <% else %>
          <%= render :partial => 'user_sessions/login' %>
        <% end %>
      </section>

      <nav>
        <h2>Contenus</h2>
        <ul>
          <li><%= link_to 'Annales', annals_path %></li>
          <li><%= link_to 'Annonces', classifieds_path %></li>
          <li><%= link_to 'Associations', associations_path %></li>
          <li><%= link_to 'Citations', quotes_path %></li>
          <li><%= link_to 'Covoiturage', carpools_path %></li>
          <li><%= link_to 'Événements', events_path %></li>
          <li><%= link_to 'News', :controller => :news %></li>
          <li><%= link_to 'Projets', projects_path %></li>
          <li><%= link_to 'Trombi', users_path %></li>
          <li><%= link_to 'UVs', courses_path %></li>
        </ul>
      </nav>

      <nav>
        <h2>Administration</h2>
        <ul>
          <li><%= link_to 'Groupes', groups_path %></li>
          <li><%= link_to 'Rôles', roles_path %></li>
        </ul>
      </nav>

      <nav>
        <h2>Services</h2>
        <ul>
          <li><%= link_to 'ENT', 'http://ent.utt.fr' %></li>
          <li><%= link_to 'Journal', {:controller => 'home', :action => 'newspaper'} %></li>
        </ul>
      </nav>

      <nav>
        <h2>Assos &amp; Clubs</h2>
        <ul>
        <% @associations.each do |asso| %>
          <li><%= link_to asso.name, asso %></li>
        <% end %>
        </ul>
      </nav>
    </aside>

    <section id="content">
      <% unless notice.nil? %>
      <div id="notice"><%= notice %></div>
      <% end %>

      <% unless alert.nil? %>
      <div id="alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </section>
  </div>

  <footer>
    <ul>
      <li>Version 9.0.0-alpha</li>
      <li><%= link_to 'Signaler un bug', :root %></li>
      <li>UTT Net Group</li>
    </ul>
    <span onclick="this.innerHTML='&#9786;'; alert('Congratz! U found the secret l3v3l!')">&#9785;</span>
  </footer>

  <%= javascript_include_tag :defaults %>
</body>
</html>
