<!DOCTYPE html>
<html>
<head>
  <title>SiteEtu</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>Le site étu</h1>
<h2>Le nouveau Face-Twit-Goog-Micro-LinuxFr</h2>

<% if current_user %>
  <%= link_to current_user.login, current_user %>
  <%= link_to 'Se déconnecter', :logout %>
<% else %>
  <%= link_to 'Se connecter', :login %>
<% end %>

<%= yield %>

<%= javascript_include_tag :defaults %>
</body>
</html>
