<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= title_tag %>

  <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">

  <%= stylesheet_link_tag :all %>

  <%= csrf_meta_tag %>
</head>

<body>
  <p id="beta">
    Salut visiteur égaré, ce site est toujours en développement, toutes tes
    actions ici seront perdues. Cependant, tu es chaleureusement encouragé à le
    tester et rapporter tout bug ou idée d'amélioration via
    <a href="mailto:ung+site-etu-v9@utt.fr">ung@utt.fr</a> ou directement sur
    <a href="https://github.com/Ung-UTT/Site-etu-v9/issues">Github</a>.
    Merci ! &#9786;
  </p>

  <blockquote id="quote"><%= @random_quote.content %></blockquote>

  <%= link_to :root, :class => 'banner' do %>
    <%= image_tag 'others/banner.jpg' %>
  <% end %>

  <ul id="topbar">
    <li>
      <%= link_to :root, :title => t('layout.home_title') do
        image_tag('icons/home.png') + t('layout.home')
      end %>
    </li>
    <li>
      <%= link_to User, :title => t('layout.users_title') do
        image_tag('icons/users.png') + t('layout.users')
      end %>
    </li>
    <li>
      <%= link_to events_path, :title => t('layout.events') do
        image_tag('icons/event.png') + t('layout.events')
      end %>
    </li>
    <li>
      <%= link_to classifieds_path, :title => t('layout.classifieds_title') do
        image_tag('icons/classifieds.png') + t('layout.classifieds')
      end %>
    </li>
    <li>
      <%= link_to :root, :title => t('layout.buckutt_title') do
        image_tag('icons/buckutt.png') + t('layout.buckutt')
      end %>
    </li>
    <li>
      <%= link_to :root, :title => t('layout.mails_title') do
        image_tag('icons/mails.png') + t('layout.mails')
      end %>
    </li>
  </ul>

  <ul id="sidebar">
    <li class="box">
      <% if current_user %>
        <%= render :partial => 'user_sessions/menu' %>
      <% else %>
        <%= render :partial => 'user_sessions/login' %>
      <% end %>
    </li>

    <li class="box">
      <h2><%= t('layout.content') %></h2>
      <ul>
        <li><%= link_to t('layout.timesheets'), timesheets_path %></li>
        <li><%= link_to t('layout.users'), users_path %></li>
        <li><%= link_to t('layout.annals'), annals_path %></li>
        <li><%= link_to t('layout.classifieds'), classifieds_path %></li>
        <li><%= link_to t('layout.assos'), assos_path %></li>
        <li><%= link_to t('layout.events'), events_path %></li>
        <li><%= link_to t('layout.news'), {:controller => 'news'} %></li>
        <li><%= link_to t('layout.course'), courses_path %></li>
        <li><%= link_to t('layout.wiki'), wikis_path %></li>
      </ul>
    </li>

    <li class="box">
      <h2><%= t('layout.services') %></h2>
      <ul>
        <li><%= link_to t('layout.carpools'), carpools_path %></li>
        <li><%= link_to t('layout.polls'), polls_path %></li>
        <li><%= link_to t('layout.projects'), projects_path %></li>
      </ul>
    </li>

    <% if can?(:manage, Role) %>
    <li class="box">
      <h2><%= t('layout.admin') %></h2>
      <ul>
        <li><%= link_to t('layout.quotes'), quotes_path %></li>
        <li><%= link_to t('layout.roles'), roles_path %></li>
      </ul>
    </li>
    <% end %>

    <li class="box">
      <h2><%= t('layout.extern_links') %></h2>
      <ul>
        <li><%= link_to 'UTT', 'http://www.utt.fr' %></li>
        <li><%= link_to 'ENT', 'http://ent.utt.fr' %></li>
        <li><%= link_to 'Sports', 'http://www-suaps.utt.fr' %></li>
        <li><%= link_to 'BDE', 'http://bde.utt.fr' %></li>
        <li><%= link_to 'Gala', 'http://gala.utt.fr' %></li>
        <li><%= link_to 'Intégration', 'http://integration.utt.fr' %></li>
        <li><%= link_to 'La roue verte', 'http://laroueverte.utt.fr' %></li>
        <li><%= link_to 'UTT Arena', 'http://uttarena.org' %></li>
        <li><%= link_to 'Club Argentique UTT', 'http://etu.utt.fr/etu/argentique' %></li>
        <li><%= link_to "N'UTT", 'http://etu.utt.fr/journal' %></li>
      </ul>
    </li>
  </ul>

  <section id="contents">
    <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
    <% end %>

    <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </section>

  <ul id="footer">
    <li><a href="?mobile=true"><%= t('layout.mobile') %></a></li>
    <li><%= link_to t('layout.bug'), 'https://github.com/Ung-UTT/Site-etu-v9/issues/new' %></li>
    <li><%= link_to t('layout.about'), {:controller => :home, :action => :about} %></li>
    <li><%= link_to t('layout.rules'), {:controller => :home, :action => :rules} %></li>
  </ul>

  <script>ROOT_URL = "<%= root_path(:only_path => false) %>";</script>
  <%= javascript_include_tag :application %>
</body>
</html>
