!!!
%html
  %head
    %meta{charset: "utf-8"}

    = title_tag

    = favicon_link_tag
    = current_rss(params[:controller])

    - if mobile?
      %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      = stylesheet_link_tag :mobile
    - else
      = stylesheet_link_tag :all

    = csrf_meta_tag

  %body
    #topbar
      - unless current_user
        %ul#connect
          %li
            = link_to new_cas_path, {class: 'cas', title: t('user_sessions.connection.cas_title')} do
              = image_tag('others/connect.png')
          %li
            = link_to t('user_sessions.connection.alternative'), new_user_session_path,      |
              {class: 'alternative', title: t('user_sessions.connection.alternative_title')} |

      - if mobile?
        %p
          = link_to image_tag('others/logo.png'), :root, { title: t('layout.home'), id: 'logo' }
      - else
        %ul.illustrated
          %li.logo
            = link_to image_tag('others/logo.png'), :root, title: t('layout.home')
          - if current_user
            %li.users
              = link_to t('layout.users'), users_path, title: t('layout.users_title')
            %li.mails
              = link_to t('layout.mails'), :root, title: t('layout.mails_title')
            %li.courses
              = link_to t('layout.course'), courses_path
            %li.timesheets
              = link_to t('layout.schedule'), url_for(current_user) + '#schedule'
            %li.buckutt
              = link_to t('layout.buckutt'), root_url, title: t('layout.buckutt_title')
            %li.logout.connected
              = button_to '', (session[:cas_user] ? :cas : :destroy_user_session), |
                method: :delete, title: t('user_sessions.logout')                  |
            %li.none.connected= link_to_user current_user
          - else
            %li.events
              = link_to t('layout.events'), events_path, title: t('layout.events_title')
            %li.assos
              = link_to t('layout.assos'), assos_path, title: t('layout.assos_title')
            %li.wiki
              = link_to t('layout.wiki'), wikis_path, title: t('layout.wiki_title')
            %li.news
              = link_to t('layout.news'), {controller: '/news'}, title: t('layout.news_title')


    - unless mobile?
      #quote
        %blockquote= "Today is a new day"
        %span.author —&nbsp;Somebody

    - unless mobile? and !current_page?(root_url)
      %ul#sidebar
        - if current_user
          %li.box
            %h2.title= link_to t('layout.users'), users_path

            = search_form(users_path)

          %li.box
            %h2= t('layout.student_life')
            %ul.illustrated
              %li.events= link_to t('layout.events'), events_path
              %li.projects= link_to t('layout.projects'), projects_path
              %li.carpools= link_to t('layout.carpools'), carpools_path
              %li.classifieds= link_to t('layout.classifieds'), classifieds_path

          %li.box
            %h2= t('layout.assos_life')
            %ul.illustrated
              %li.assos= link_to t('layout.assos'), assos_path
              %li.wiki= link_to t('layout.wiki'), wikis_path
              %li.news= link_to t('layout.news'), {controller: '/news'}
              %li.polls= link_to t('layout.polls'), polls_path

          - if can?(:manage, Role)
            %li.box
              %h2= t('layout.admin')
              %ul
                %li= link_to t('layout.quotes'), quotes_path
                %li= link_to t('layout.roles'), roles_path
        - else
          %li.box
            %p
              = t('layout.more')
              = link_to t('layout.more_connect'), new_cas_path
              = t('layout.more_explain')

        %li.box
          %h2= t('layout.extern_links')
          %ul
            %li= link_to 'UTT', 'http://www.utt.fr', title: 'Université de Technologie de Troyes'
            %li= link_to 'ENT', 'http://ent.utt.fr', title: 'Environnement Numérique de Travail'
            %li= link_to 'BDE', 'http://bde.utt.fr', title: 'Bureau Des Étudiants'
            %li= link_to 'Gala', 'http://gala.utt.fr'
            %li= link_to 'Intégration', 'http://integration.utt.fr'
            %li= link_to 'La roue verte', 'http://laroueverte.utt.fr'
            %li= link_to 'UTT Arena', 'http://uttarena.org'
            %li= link_to 'Club Argentique UTT', 'http://etu.utt.fr/etu/argentique'
            %li= link_to "N'UTT", 'http://etu.utt.fr/journal'
            %li= link_to "SecUTT", 'http://secutt.utt.fr'

    %section#contents
      - if Rails.env.production? and !current_user
        %p.warning
          %a{href: "#", onclick: "$(this.parentNode).fadeOut()", |
            style: "float: right", title: "Cacher ce truc"} [X]  |
          Salut visiteur égaré, ce site est toujours en développement,
          toutes tes actions ici seront perdues.

      - unless notice.nil?
        %p.notice= notice
      - unless alert.nil?
        %p.alert= alert

      = yield

    %ul#footer
      - if mobile?
        %li
          %a{href: "?mobile=false"}= t('layout.desktop')
      - else
        %li
          %a{href: "?mobile=true"}= t('layout.mobile')
      %li= mail_to 'ung@utt.fr', t('layout.bug'), subject: "[Site étu] [Bug] "
      %li= link_to t('layout.rules'), rules_path
      %li= link_to t('layout.about'), about_path

    %script{charset: "utf-8", type: "text/javascript"}
      var ROOT_PATH = "#{root_path(only_path: false)}";

    = javascript_include_tag :application

/
  = Rails.application.config.commit
